.has-error {
    input {
        box-shadow: 0 0 0 1px red!important;
    }
    i {
        color: red;
        font-size: 14px;
    }
}

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f9f0;
    position: relative;
    overflow: hidden;
    background: url(/assets/images/demo-3.jpg);
    background-size: cover;
    background-position: center top;
    .center_al {
        max-width: 600px;
        margin: auto;
    }
    .fw-normal.mb-3.pb-3 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 0 !important;
        margin-bottom: 40px !important;
        color: var(--mdxP-color-primary-d7);
        // color: #fff;
    }
    label.form-label {
        color: var(--mdxP-color-primary-d7);
        font-weight: 600;
        // color: #fff;
    }
    .icon-size {
        top: 49px;
        right: 20px;
        font-size: 16px;
        position: absolute;
        z-index: 99;
        color: #666666 !important;
    }
    button.btn.btn-info.btn-lg.btn-block {
        background-color: var(--mdxP-color-secondary);
        border-color: var(--mdxP-color-secondary);
    }
    .logo__login {
        margin-bottom: 30px !important;
        width: 100%;
        max-width: 260px;
        margin: auto;
        display: block;
    }
}


.text-center.fix-loader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3.fw-normal.mb-3.pb-3 {
    position: relative;
}

h3.fw-normal.mb-3.pb-3:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 5px;
    border-radius: 5px;
    content: "";
    background: #ff9e16;
    max-width: 80px;
    margin: auto;
}

@media(max-width: 1024px) {
    .login_page {
        background: url(/assets/images/demo-mobile.jpg) !important;
        background-size: cover !important;
        background-position: center top !important;
    }
}

.big-font {
    font-size: 24px;
}