<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs nxtTab">
            <div class="col-lg-12">
                <table class="table" id="customers">
                    <tr>
                        <th>Tickler Type</th>
                        <th>Criteria</th>
                        <th>Send Reminders to</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Select the intervals that you would like the authorization expiration reminders sent (hold
                            CTRL and click all of the intervals that you would like to select)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="client-input" type="text" value="5 Days Prior to Expiration Date"
                                name="UserName" id="UserName"></td>
                        <td>
                            <ul class="all-li-radio">
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinician</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinician Supervisor</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinical Manager</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Administrator</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Receptionist</label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Select the intervals that you would like the authorization expiration reminders sent (hold
                            CTRL and click all of the intervals that you would like to select)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="client-input" type="text" value="Less Then 20 Unit Remains"
                                name="UserName" id="UserName"></td>
                        <td>
                            <ul class="all-li-radio">
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinician</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinician Supervisor</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Clinical Manager</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Administrator</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label>Receptionist</label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>