<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="pregressNotes">
            <div class="all-tb">
                <div class="row mar-1010 d-flex my-2">
                    <div class="col-lg-12 back_css">
                        <button class="NEW-SAVE" type="submit" (click)="Save()">SAVE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <!-- ####### second #### -->

                        <div class="col-md-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>MENTAL HEALTH AND AOD TREATMENT HISTORY</h6>
                            </div>
                            <div class="content">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient d-flex">
                                                        <label class="CLIENT-LABEL">Outpatient Mental Health/AoD Treatment</label>
                                                        <div class="d-flex">
                                                            <input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                <label class="CLIENT-LABEL">None Reported</label>
                                                        </div>
                                                    </div>
                                                            
                                                </div>
                                                
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                    <table style="width:100%">
                                                        <tr>
                                                          <th>Agency</th>
                                                          <th>Current</th>
                                                          <th>Date of Service</th>
                                                          <th>Clinician Name</th>
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes"></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td> 
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                    id="Complaint"></textarea></td>       
                                                        </tr>
                                                        
                                                      </table>
                                            </div>
                                        </div>
                                                <div class="col-md-12 d-flex">
                                                       <label class="CLIENT-LABEL">Psychiatric Hospitalizations </label>&nbsp;&nbsp;
                                                       <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                           id="harmingNo" value="yes">&nbsp;
                                                               <label class="CLIENT-LABEL">None Reported Comments:</label></div>
                                                </div>    
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient">
                                                            <table style="width:100%">
                                                                <tr>
                                                                  <th>Hospital</th>
                                                                  <th>Date of Service</th>
                                                                  <th>	Reason (suicidal, depressed, etc.)</th>
                                                                </tr>
                                                                <tr>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>       
                                                                </tr>
                                                                <tr>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td> 
                                                                </tr>
                                                                <tr>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>
                                                                    <td><textarea name="Complaint" class="client-input col-md-12"
                                                                        id="Complaint"></textarea></td>     
                                                                </tr>
                                                                
                                                              </table>
                                                    </div>
                                                </div>  
                                                <div class="col-md-12 d-flex">
                                                    <label class="CLIENT-LABEL">AOD Levels of </label>
                                                </div>   
                                                <div class="col-md-12 d-flex">
                                                    <label class="CLIENT-LABEL">Past </label>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Outpatient (OP) </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Residential </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Hospital </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL"> Detox  </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Other </label></div>&nbsp;&nbsp;
                                                </div>     
                                                <div class="col-md-12 d-flex">
                                                    <textarea name="Complaint" class="client-input col-md-12"
                                                    id="Complaint"></textarea>
                                                </div> 
                                                <div class="col-md-12 d-flex">
                                                    <label class="CLIENT-LABEL">Current </label>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Outpatient (OP) </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Residential </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Hospital </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL"> Detox  </label></div>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">Other </label></div>&nbsp;&nbsp;
                                                </div> 
                                                <div class="col-md-12 d-flex">
                                                    <textarea name="Complaint" class="client-input col-md-12"
                                                    id="Complaint"></textarea>
                                                </div> 
                                                <div class="col-md-12 d-flex">
                                                    <label class="CLIENT-LABEL">Other Comments Regarding Mental Health or AOD Treatment History </label>&nbsp;&nbsp;
                                                    <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                        id="harmingNo" value="yes">&nbsp;
                                                    <label class="CLIENT-LABEL">No Comments </label></div>
                                                </div>
                                                <div class="col-md-12 d-flex">
                                                    <textarea name="Complaint" class="client-input col-md-12"
                                                    id="Complaint"></textarea>
                                                </div>  
                                                <div class="col-md-12 d-flex">
                                                    <label class="CLIENT-LABEL">
                                                        Current Medication Information –Psychotropic and Other Medical (prescription/OTC/herbal)</label>&nbsp;&nbsp;
                                                </div>
                                                <div class="d-flex">
                                                        <input type="checkbox" name="harmingNo"
                                                                id="harmingNo" value="yes">
                                                        <label class="CLIENT-LABEL">None Reported</label>
                                                </div>
                                                <div class="margin-inputclient">
                                                    <table style="width:100%">
                                                        <tr>
                                                          <th>Rationale</th>
                                                          <th>Current</th>
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>      
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>    
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>     
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>      
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>     
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>      
                                                        </tr>
                                                        
                                                      </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Date of Last Physical Exam</label>
                                                        <textarea name="Complaint" class="client-input"
                                                            id="Complaint"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Primary Care Physician (name, phone no., and address)</label>
                                                        <textarea name="Complaint" class="client-input"
                                                            id="Complaint"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Other Prescribing Physician(s)</label>
                                                        <textarea name="Complaint" class="client-input"
                                                            id="Complaint"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient col-md-12 d-flex">
                                                        <label class="CLIENT-LABEL">Past Psychotropic Medications</label>
                                                        <div class="d-flex"><input type="checkbox" name="harmingNo"
                                                            id="harmingNo" value="yes">
                                                                <label class="CLIENT-LABEL">None Reported Comments:</label></div>
                                                    </div>
                                                </div>
                                                <div class="margin-inputclient">
                                                    <table style="width:100%">
                                                        <tr>
                                                          <th>Psychotropic Medications</th>
                                                          <th>Reason for Discontinuation</th>
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>    
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>     
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>      
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>     
                                                        </tr>
                                                        <tr>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>
                                                            <td><textarea name="Complaint" class="client-input col-md-12"
                                                                id="Complaint"></textarea></td>      
                                                        </tr>
                                                        
                                                      </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- #########====== -->       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>