<div class="col-lg-12">
    <div class="">
        <div class="all-tb">
            <div class="row mar-1010 d-flex my-2">
                <div class="col-lg-12 back_css">
                    <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="margin-inputclient">
                        <label class="CLIENT-LABEL"><b>CLIENT’S STRENGTH, NEEDS, ABILITIES & PREFERENCES</b></label>
                        <textarea class="client-input" name="" id="" ></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="margin-inputclient ContentUl">
                        <label class="CLIENT-LABEL my-2"><b>TRANSITION / DISCHARGE PLAN</b></label>
                        <label class="CLIENT-LABEL my-2 text-danger"><b>*Must Be Completed at a minimum: with each IRP Review & as needed*</b></label>
                        <ul class="input-ul my-2 d-flex">
                            <li class="mx-2"><label for="">Is Client’s Discharge Anticipated During This Authorization Period?:</label></li>
                            <li class="mx-2"><input type="checkbox" name=""
                                    id=""><label>Yes</label></li>
                            <li class="mx-2"><input type="checkbox" name=""
                                    id=""><label>No</label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="margin-inputclient ContentUl">
                        <label class="CLIENT-LABEL"><b>DISCHARGE CRITERIA (Check all that apply)</b></label>
                        <ul class="input-ul row">
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Entitlement Acquisition</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Medication Management / TX Compliance</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Independent Living Skills</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Psychoeducation & Symptom Management</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Self-Care Skills</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Social Skills</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Housing/Residential</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Leisure Activities</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Educational/Vocational</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Alcohol/Substance Use/Abuse Recovery</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Employment</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Legal & Forensic Assistance/Advocacy</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Transportation & Mobility</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Personal & Community Safety</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Adaptive Equipment & Resources</label></li>
                            <li class="col-md-4"><input type="checkbox" name=""
                                    id=""><label>Others</label></li>
                        </ul>
                        <div class="col-lg-12">
                            <div class="margin-inputclient">
                                <textarea class="client-input" name="" id="" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="margin-inputclient ContentUl">
                        <label class="CLIENT-LABEL my-2"><b>CRISIS RESPONSE PLAN</b></label>
                        <ul class="input-ul">
                            <label for=""><b>In The Event That Client:</b></label>
                            <li class="my-2"><label>- Displays Uncontrollable And/Or Unsafe Behavior</label></li>
                            <li class="my-2"><label>-Displays And/Or Communicates The Desire To Display Harmful, Suicidal And/Or Homicidal Behavior.</label></li>
                        </ul>
                        <ul class="input-ul">
                            <label class="my-2" for=""><b>Client Agrees To:</b></label>
                            <li class="my-2"><label>-Call 911-Arrange For Transportation And/Or Be Transported To The Nearest Emergency Room.</label></li>
                            <li class="my-2"><label>-Displays And/Or Communicates The Desire To Display Harmful, Suicidal And/Or Homicidal Behavior.</label></li>
                        </ul>
                        <ul class="" style="color: #5a607f;">
                            <li class="my-2"><label>Agree to comply/assist my child with complying with the identified crisis plan detailed for this service period.</label></li>
                            <li class="my-2"><label>Have actively participated in the review of the goals, interventions, crisis, & transition plans indicated above.</label></li>
                            <li class="my-2"><label>Have been informed of the purposes in which this plan will be utilized.</label></li>
                            <li class="my-2"><label>Have been informed that this plan can be revised to ensure it appropriately addresses my/my child’s service needs.</label></li>
                            <li class="my-2"><label>Have the right to receive a copy of and have been offered a copy of this rehabilitation planclient.</label></li>
                        </ul>
                        <div class="col-lg-12">
                            <ul class="input-ul my-2 d-flex">
                                <li class="mx-2"><label for="">Client Offered Copy of IRPR: ?</label></li>
                                <li class="mx-2"><input type="checkbox" name=""
                                        id=""><label>Yes</label></li>
                                <li class="mx-2"><input type="checkbox" name=""
                                        id=""><label>No</label></li>
                            </ul>
                        </div>
                        <div class="col-lg-12">
                            <ul class="input-ul my-2 d-flex">
                                <li class="mx-2"><label for="">Client Received Copy of IRPR: ?</label></li>
                                <li class="mx-2"><input type="checkbox" name=""
                                        id=""><label>Accepted</label></li>
                                <li class="mx-2"><input type="checkbox" name=""
                                        id=""><label>Declined</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>