<div class="col-lg-12">
    <div class="col-lg-12 back_css">
        <button class="NEW-SAVE" type="button" (click)="Save()">SAVE</button>
    </div>
    <div class="client-tabs">
        <form [formGroup]="pregressNotes" >
            <div class="all-tb">
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>19. Get along with people outside your family?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>20. Get along well in social situations?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>21. Feel close to another person?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>22. Feel like you had someone to turn to if you needed help?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>23. Feel confident in yourself?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <div class="CLIENT-LABEL">
                        <B><Strong>During the PAST MONTH, how much of the time did you…</Strong></B>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>24. Feel sad or depressed?</b>[CARD #3] </label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>25. Think about ending your life?</b>[CARD #3] </label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>26. Feel nervous?</b> [CARD #3]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>None of the time </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>A little of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Half of the time</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Most of the time</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>All of the time</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <div class="CLIENT-LABEL">
                        <B><Strong>During the PAST MONTH, how often did you…</Strong></B>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>27. Have thoughts racing through your head?</b> [CARD #4 with response options]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>    
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>28. Think you had special powers?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
            </div>
        </form>
    </div>
</div>