<footer class="footer-section">
    <div class="footer-nav-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="footer-logo pe-0 pe-lg-5">
                       <a href="javascript:void(0);">
                           <img src="assets/images/SRS-Logo-Solo.png" class="img-fluid">
                       </a>
                       <p>Due to Washington State laws call before you dig all posts must be located for utility services by the utility providers. This process is generally a 2 day process. However, if there is a holiday or weekend additional time to locate may occur.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="footer-nav">
                                <div class="footer-heading mb-4">
                                    <h4>Links</h4>
                                </div>
                                <div class="footer-links">
                                    <ul>
                                       <li><a [routerLink]="['/']">Home </a></li>
                                       <li><a href="javascript:void(0);">Pay Invoice</a></li>
                                       <li><a [routerLink]="['/order']">Order</a></li>
                                       <li><a href="javascript:void(0);">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-5">
                            <div class="footer-nav">
                                <div class="footer-heading mb-4">
                                    <h4>Get in Touch</h4>
                                </div>
                                <div class="media-section">
                                    <ul>
                                       <li><a href="javascript:void(0);"><span><i class="fa-solid fa-location-dot"></i></span> Vancouver, WA</a></li>
                                       <li><a href="javascript:void(0);"><span><i class="fa-solid fa-phone"></i></span>cell 360-448-3020</a></li>
                                       <li><a href="javascript:void(0);"><span><i class="fa-solid fa-envelope"></i></span>candmsignpost@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                            <div class="footer-nav">
                                <div class="footer-heading mb-4">
                                    <h4>Social</h4>
                                </div>
                                <div class="media-section">
                                    <ul>
                                       <li><a href="javascript:void(0);"><span><i class="fa-brands fa-facebook-f"></i></span> Facebook</a></li>
                                       <li><a href="javascript:void(0);"><span><i class="fa-brands fa-twitter"></i></span>Twitter</a></li>
                                       <li><a href="javascript:void(0);"><span><i class="fa-brands fa-linkedin-in"></i></span>LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-section text-center p-3 border-top">
        <p>c&m sign post © 2022 | designed by advantage media partners</p>
    </div>
</footer>