<section class="new-client-sec">
    <div class="container-fluid">
        <div class="row">
        <!-- ####-----------form section-------------------############ -->
            <div class="col-lg-12">
                <div class="page-header small_fonts">
                    <div class="page-header-content d-flex">
                            <div class="arrow">
                                <label for="type" (click)="back()">
                                    <i class="fa fa-circle-arrow-left"></i>
                                </label>
                            </div>
                        <h1 class="admin-main_heading">PSYCHIATRIC ASSESSMENT <small id="EditNew">New</small></h1>
                    </div>
                </div>
                <div class="partition-1">
                    <div class="part-2">
                        <form >
                            <div class="client-tabs">
                                <div class="client-tabs subTabs">
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                        <li [ngbNavItem]="1">
                                            <a ngbNavLink>Risk Assessment</a>
                                            <ng-template ngbNavContent>
                                                <app-risk-assessment></app-risk-assessment>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="2">
                                            <a ngbNavLink>Mental Status</a>
                                            <ng-template ngbNavContent>
                                                <app-mental-status></app-mental-status>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3">
                                            <a ngbNavLink>HX</a>
                                            <ng-template ngbNavContent>
                                                <app-hx></app-hx>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="4">
                                            <a ngbNavLink>Substance Assessment</a>
                                            <ng-template ngbNavContent>
                                                <app-substance-assessment></app-substance-assessment>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="5">
                                            <a ngbNavLink>Diagnosis</a>
                                            <ng-template ngbNavContent>
                                                <app-diagnosis></app-diagnosis>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="6">
                                            <a ngbNavLink>Treatment Plan</a>
                                            <ng-template ngbNavContent>
                                                <app-treatment-plan></app-treatment-plan>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="7">
                                            <a ngbNavLink>Signature</a>
                                            <ng-template ngbNavContent>
                                                <app-signature></app-signature>
                                            </ng-template>
                                        </li>
                                        
                                    </ul>
                                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>