.bodr-box{
    border: 1px solid #ccc;
    padding: 20px;
}
.CLIENT-DEMOGRAPHICS1 {
    background: #d4d5d5;
    color: #fff;
    padding: 8px 4px;
    font-size: 20px;
    width: 100%;
    margin: 0 0 15px 0;
    font-family: Poppins;
}
.box{
    border: 1px solid #d4d5d5;
    border-top: none;
    margin: 0;
    padding: 0px;
    border-radius: 4px;
    padding-top: 22px;
    margin-top: -17px;
    min-height: 200px;
}
.right-brdr{
    border-right: 1px solid #d4d5d5;
    border-right-style: dashed;
    // min-height: 150px;
}