.common-div-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
}
.common-div-ul-tab{
    margin: 0;
    padding: 0;
    list-style: none;
    border:none;
    li {
        text-decoration: none;
        color: #000;
        padding: 10px 15px;
        display: block;
        border: none;
        font-size: 14px;
        a{
            text-decoration: none;
            font-weight: 700;
            padding-right: 10px;
        }
        & a:hover{
            cursor: pointer;
        }
        & span:hover{
            cursor: pointer;
            border: 1px dotted;
        }
    }
}
.common-div-ul li {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;

}
.common-div-ul li:last-child a,.common-div-ul li:last-child a.active {
    border: none !important;
}