<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb nxtTab">
                    <div class="row">
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-5">
                            <label class="CLIENT-LABEL">+ Add Consumer Support Managers</label>
                            </div>
                            <div class="col-lg-7">
                                <input class="client-input" type="text" name="UserName" id="UserName">
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <label class="CLIENT-LABEL"><b>Community Support Managers(CSM)</b></label>
                        </div>
                        <div class="col-lg-12">
                            <ul class="tabs-admin-right-ul ">
                            <li>
                                <p>Breona Rogers</p>
                                <i class="fa fa-times text-danger"></i>
                            </li>
                            <li>
                                <p>Asteroya Rogers</p>
                                <i class="fa fa-times text-danger"></i>
                            </li>
                            
                        </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>