<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb nxtTab">
                    <div class="CLIENT-DEMOGRAPHICS">
                        <h6>General</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL">Name CMS Box 31</label>
                            <select class="client-input" style="width: 100%;" id="ddlProcedureCode"
                                name="ddlProcedureCode">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL">User Name (create new user)</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Speciality(Taxonomy Code): CMS Box</label>
                            <input class="client-input" type="text" name="CompanyName" id="CompanyName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL">SSN:</label>
                            <input class="client-input" type="text" name="CompanyName" id="CompanyName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL">Date of Birth:</label>
                            <input class="client-input" type="date" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">NPI: CMS Box 241</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Location:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Encounter Form:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">State License #:CMS Box</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax"><span class="text-danger">*</span>Gender:</label>
                            <select class="client-input">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Notes:</label>
                            <textarea class="client-input" type="text" name="FullName" id="FullName"></textarea>
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Degree:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                    </div>
                </div>
                <div class="all-tb my-3 nxtTab">
                    <div class="CLIENT-DEMOGRAPHICS">
                        <h6>Claim Settings</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">NPI: Bill With:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <div class="d-flex">
                                <label class="CLIENT-LABEL">NPI:</label>
                                <ul class="all-li-radio und_line">
                                    <li>
                                        <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                        <label>Use Group NPI</label>
                                    </li>
                                </ul>
                            </div>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <div class="d-flex">
                                <label class="CLIENT-LABEL">EIN</label>
                                <ul class="all-li-radio und_line">
                                    <li>
                                        <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                        <label>Use Group EIN</label>
                                    </li>
                                </ul>
                            </div>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Billing Override Provider</label>
                            <select class="client-input">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <div class="d-flex">
                                <label class="CLIENT-LABEL">NPI</label>
                                <ul class="all-li-radio und_line">
                                    <li>
                                        <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                        <label>Use Override NPI</label>
                                    </li>
                                </ul>
                            </div>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <label class="CLIENT-LABEL set_view">Medicaid ID</label>
                                <ul class="all-li-radio und_line">
                                    <li>
                                        <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                        <label>Use Company</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <label class="CLIENT-LABEL set_view">Medicare ID</label>
                                <ul class="all-li-radio und_line">
                                    <li>
                                        <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                        <label>Use Company</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Medicare ID</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Medicare ID</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                    </div>
                </div>
                <div class="all-tb my-3 nxtTab">
                    <div class="CLIENT-DEMOGRAPHICS">
                        <h6>Documents</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex">
                            <div class="col-lg-3 margin-inputclient">
                                <label class="CLIENT-LABEL" for="grp">Find File</label>
                            </div>
                            <div class="col-lg-9 margin-inputclient">
                                <input class="client-input" type="file" name="Upload" id="Upload"
                                    (change)="readURL($event);">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="all-tb my-3 nxtTab">
                    <div class="CLIENT-DEMOGRAPHICS">
                        <h6>Pay Rates</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label><b>Provider Pay Type:</b></label>
                            <ul class="all-li-radio und_line">
                                <li>
                                    <input type="radio" name="harmingNo" id="harmingNo">
                                    <label>Single Rate</label>
                                </li>
                                <li>
                                    <input type="radio" name="harmingNo" id="harmingNo">
                                    <label>Dual Rate</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <label><b>Provider Type:</b></label>
                            <ul class="all-li-radio und_line">
                                <li>
                                    <input type="radio" name="harmingNo" id="harmingNo">
                                    <label>Clinician</label>
                                </li>
                                <li>
                                    <input type="radio" name="harmingNo" id="harmingNo">
                                    <label>Doctor</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="all-tb my-3 nxtTab">
                    <div class="CLIENT-DEMOGRAPHICS">
                        <h6>Single Provider Rate</h6>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Procedure">Procedure Code</label>
                            <select class="client-input">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="col-sm-2 margin-inputclient">
                            <label class="CLIENT-LABEL">Rate</label>
                            <textarea class="client-input" type="text" name="FullName" id="FullName"></textarea>
                        </div>
                        <div class="col-sm-3 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax">Procedure Code</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-sm-2 margin-inputclient">
                            <label class="CLIENT-LABEL">Rate</label>
                            <textarea class="client-input" type="text" name="FullName" id="FullName"></textarea>
                        </div>
                        <div class="col-sm-2 margin-inputclient ">
                            <label class="CLIENT-LABEL">Effective Date</label>
                            <textarea class="client-input" type="date" name="FullName" id="FullName"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>