.chBtn{
    display: inline-flex;
    align-content: center;
    flex-wrap: inherit;
}
.NEW-SAVE1{
    background: #fff;
    border-radius: 50%;
}
.addNew{
    height: max-content;
    top: 6px;
    position: relative;
    margin-right: 2px;
}