.has-error{
    input {
        border: 1px solid #f00606!important;
    }
    textarea{
        border: 1px solid #f00606!important;
    }
    select{
        border: 1px solid #f00606!important;
    }
}