<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="initialClinical" >
            <div class="all-tb">
                <div class="row mar-1010 d-flex my-2">
                    <div class="col-lg-6">
                        <div class="arrow d-flex">
                            <label for="type ms-2">
                                <i class="fa fa-circle-arrow-left" (click)="back()"></i>
                            </label>
                            <h1 class="admin-main_heading mx-2">Initial Clinical Form</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 back_css">
                        <button class="NEW-SAVE" type="submit" (click)="Save()">SAVE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>SESSION INFORMATION</h6>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-8 next_Tab my-2">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient" [class.has-error]="f['FirstName'].dirty && f['FirstName'].errors || f['FirstName'].touched && f['FirstName'].errors">
                                                <label class="CLIENT-LABEL">First </label>
                                                <input type="text" class="client-input" formControlName="FirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [class.has-error]="f['LastName'].dirty && f['LastName'].errors || f['LastName'].touched && f['LastName'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Middle Name </label>
                                                <input  type="text" class="client-input" formControlName="LastName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [class.has-error]="f['MiddleName'].dirty && f['MiddleName'].errors || f['MiddleName'].touched && f['MiddleName'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL"> Last Name</label>
                                                <input type="text" class="client-input" formControlName="MiddleName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [class.has-error]="f['DateofBirth'].dirty && f['DateofBirth'].errors || f['DateofBirth'].touched && f['DateofBirth'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Date Of birth</label>
                                                <input  type="date" class="client-input" formControlName="DateofBirth">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [class.has-error]="f['Age'].dirty && f['Age'].errors || f['Age'].touched && f['Age'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Age</label>
                                                <input type="text" class="client-input" formControlName="Age">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [class.has-error]="f['Gender'].dirty && f['Gender'].errors || f['Gender'].touched && f['Gender'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Sex</label>
                                                <select class="client-input"formControlName="Gender">
                                                    <option value="0" selected>Female</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Transgender</option>
                                                    <option value="3">They</option>
                                                    <option value="4">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" [class.has-error]="f['DateofVisit'].dirty && f['DateofVisit'].errors || f['DateofVisit'].touched && f['DateofVisit'].errors">
                                    <div class="col-md-12">
                                        <div class="margin-inputclient">
                                            <label class="CLIENT-LABEL">Date of Session</label>
                                            <input type="date" class="client-input"formControlName="DateofVisit">
                                        </div>
                                    </div>
                                    <div class="d-flex my-2">
                                        <div class="col-md-4" [class.has-error]="f['StartTime'].dirty && f['StartTime'].errors || f['StartTime'].touched && f['StartTime'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Start Time</label>
                                                <input type="time" class="client-input" formControlName="StartTime">

                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-1" [class.has-error]="f['EndTime'].dirty && f['EndTime'].errors || f['EndTime'].touched && f['EndTime'].errors">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">End Time</label>
                                                <input type="time" class="client-input" formControlName="EndTime">

                                            </div>
                                        </div>
                                        <div class="col-md-4 ms-1">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Duration</label>
                                                <input type="time" class="client-input" formControlName="TotalTime">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ####### second #### -->

                        <div class="col-md-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>SESSION DETAILS</h6>
                            </div>
                            <div class="content">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="margin-inputclient" [class.has-error]="f['Location'].dirty && f['Location'].errors || f['Location'].touched && f['Location'].errors">
                                                        <label class="CLIENT-LABEL">Location<span
                                                                class="text-danger">*</span> </label>
                                                        <select class="client-input" formControlName="Location"
                                                            >
                                                            <option *ngFor="let item of StartTimer"
                                                                value="{{item.Value}}">
                                                                {{item.Text}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="margin-inputclient" [class.has-error]="f['TypeofCrisis'].dirty && f['TypeofCrisis'].errors || f['TypeofCrisis'].touched && f['TypeofCrisis'].errors">
                                                        <label class="CLIENT-LABEL">Type of Crisis</label>
                                                        <select class="client-input" formControlName="TypeofCrisis"
                                                            >
                                                            <option *ngFor="let item of StartTimer"
                                                                value="{{item.Value}}">
                                                                {{item.Text}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="margin-inputclient" [class.has-error]="f['Assessment'].dirty && f['Assessment'].errors || f['Assessment'].touched && f['Assessment'].errors">
                                                        <label class="CLIENT-LABEL">Assessment</label>
                                                        <select class="client-input" formControlName="Assessment" >
                                                            <option *ngFor="let item of StartTimer"
                                                                value="{{item.Value}}">
                                                                {{item.Text}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <div class="margin-inputclient" [class.has-error]="f['Rendering_ProviderId'].dirty && f['Rendering_ProviderId'].errors || f['Rendering_ProviderId'].touched && f['Rendering_ProviderId'].errors">
                                                        <label class="CLIENT-LABEL">Rendering Provider*<span
                                                                class="text-danger">*</span> </label>
                                                        <select class="client-input" formControlName="Rendering_ProviderId" >
                                                            <option *ngFor="let item of StartTimer"
                                                                value="{{item.Value}}">
                                                                {{item.Text}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Notes</label>
                                                        <textarea name="Complaint" class="client-input" formControlName="Note"
                                                            id="Complaint"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>