.addNew{
    height: max-content;
    top: 6px;
    position: relative;
    margin-right: 2px;
}
.TreatmentPlanHeaderDiv{
    border-bottom: 1px solid #bfbfbf;
    padding: 10px 0;
    margin-bottom: 10px;
}
.client-input {
    display: block;
    margin: 0;
    letter-spacing: -0.01px;
    height: 80px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9e1ec;
    padding: 0 15px;
    width: 100%;
    color: #a1a7c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    font-family: Poppins;
}
.NEW-INTAKE {
    background: #49afcd;
    border: none;
    height: 40px;
    padding: 0 15px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    min-width: 110px;
    transition: 0.2s !important;
    transition-timing-function: ease-in-out !important;
    -webkit-transition: 0.2s !important;
    -webkit-transition-timing-function: ease-in-out !important;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px 0;
}
.NEW-INTAKE i {
    margin: 0 5px 0 0;
}
.NEW-SAVE {
    background: #49afcd;
    border: none;
    height: 40px;
    padding: 0 15px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    min-width: 110px;
    transition: 0.2s !important;
    transition-timing-function: ease-in-out !important;
    -webkit-transition: 0.2s !important;
    -webkit-transition-timing-function: ease-in-out !important;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px 0;
}
.back-bt {
    display: flex;
    justify-content: space-between;
}
.new-client-sec {
    padding: 30px 0;
    background: #d8d8d8;
    min-height: 100vh;
}
.NEW-INTAKE:hover {
    transform: scale(1.07);
}
.NEW-SAVE:hover {
    transform: scale(1.07);
}
.new-client-sec .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.new-client-sec .client-tabs {
    background: #ffffff;
    border: 1px solid #c7ced5;
    box-shadow: 0 13px 20px #12121266;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.new-client-sec .nav-tabs.nav {
    background: #07417b;
    border: none !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.new-client-sec .nav-tabs .nav-link {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0 !important;
    border: none !important;
    padding: 10px 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.new-client-sec .nav-tabs .nav-link:hover,.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background: #49afcd;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.out {
    color: orange;
    // background: blanchedalmond;
    // border: 1px solid blanchedalmond;
    // border-radius: 8px;
    // padding: 2px;
}
.CLIENT-LABEL {
    display: block;
    font-family: Poppins;
    margin: 0 0 5px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.CLIENT-LABEL_ContentUl{
    display: block;
    font-family: Poppins;
    margin: 0px 32px 5px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.ContentUl{
    padding: 12px 3px 14px 11px;
    border: 1px solid #ccc;
}
.type-input {
    display: block;
    margin: 0;
    letter-spacing: -0.01px;
    height: 40px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9e1ec;
    padding: 0 15px;
    color: #a1a7c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins;
}

.CLIENT-LABEL span {
    font-weight: 700;
}
h6.lable_ul {
    background: #ff3434 !important;
    border-radius: 5px !important;
}
.all-tb {
    padding: 20px;
}
.client-input:hover,.client-input:focus {
    box-shadow: none;
    outline: 2px solid #49afcd;
    border: 1px solid #49afcd;
}
.margin-inputclient {
    margin: 0 0 15px 0;
}
.Organization {
    background: #49afcd;
    border: none;
    height: 40px;
    padding: 0 15px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    min-width: 110px;
    transition: 0.2s !important;
    transition-timing-function: ease-in-out !important;
    -webkit-transition: 0.2s !important;
    -webkit-transition-timing-function: ease-in-out !important;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px 0;
}
.Organization:hover{
    transform: scale(1.07);
}
.Organization i {
    margin: 0 2px 0px 0;
}
.div-full-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
.Organization.Organization-100 {
    width: 100%;
}
.label-check {
    display: block;
    font-family: Poppins;
    margin: 0 0 6px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.input-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.disabledField {
    background: #cbd5df9c;
}
.input-ul li label {
    display: block;
    font-family: Poppins;
    margin: 0 0 0px;
    color: #5a607f;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    word-break: break-all;
    margin-left: 8px;
}
.input-ul li {
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
}

.client-input.client-input-textarea {
    height: 200px;
    resize: none;
}
.CLIENT-DEMOGRAPHICS h3 {
    background: #07417b;
    color: #fff;
    padding: 7px 15px;
    font-size: 20px;
    margin: 0 0 15px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: Poppins;
}
.Contact-Information {
    background: #07417b;
    color: #fff;
    padding: 7px 15px;
    font-size: 18px;
    margin: 0 0 0px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 400;
    font-family: Poppins;
}
.all-basic-str {
    border: 1px solid #d9e1ec;
    padding: 20px 20px 10px 20px;
    margin: 0 0 15px 0;
}
.all-li-radio.und_line li {
    margin: 0 34px 5px 0;
}
.input-ul-1 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.input-ul-1 li label {
    display: block;
    font-family: Poppins;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 0 7px;
    position: relative;
    top: 1px;
}
.input-ul-1 li {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
}

.label-check-1 {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0 10px 0;
    font-family: Poppins;
}
.has-error{
    input {
        border: 1px solid #f00606!important;
    }
    textarea{
        border: 1px solid #f00606!important;
    }
    select{
        border: 1px solid #f00606!important;
    }
    i {
        color: red;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}
.input-ul-2 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.input-ul-2 li label {
    display: block;
    font-family: Poppins;
    margin: 0 0 0px 4px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.input-ul-2 li {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
}
.indicate {
    display: block;
    font-family: Poppins;
    margin: 0 0 0px 4px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.pera-1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0 0px 0;
    font-family: Poppins;
}
.table-scrll table {
    width: 100%;
    min-width: 800px;
}
.pera-2 {
    display: block;
    font-family: Poppins;
    margin: 0 0 5px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 15px;
}
.table-scrll tbody tr td {
    vertical-align: top;
}
.table-scrll {
    overflow: auto;
}



@media(max-width: 991px){
    .new-client-sec .container-fluid{
        padding-left: 15px;
        padding-right: 15px;
    }
    .CLIENT-DEMOGRAPHICS h3{
        padding: 15px 15px;
        font-size: 14px;
    }
}


li.disabledMe.nav-item{
    color: #ffffff !important;
    background: #a0c4cf85;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
li.nav-item{
    color: #ffffff !important;
    background: #398cdae7;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}
.client-input3 {
    display: block;
    margin: 0;
    letter-spacing: -0.01px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d9e1ec;
    padding: 0 15px;
    width: 100%;
    color: #a1a7c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    font-family: Poppins;
}

.input-radio {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.input-radio  {
    display: flex;
    margin: 0 15px 0 0;
}
.input-radio label {
    display: block;
    font-family: Poppins;
    margin: 0 0 0px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


.arrow {
    margin-right: 15px;
}
.arrow i {
    font-size: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
}
.d-flex {
    button.NEW-SAVE{
    margin: 0px 0px 0px 2px;
    }
    button.NEW-SAVE.Cont {
        margin: 8px 0px 0px 15px;
    }
}
.view_btn{
    justify-content: space-between;
}

.CLIENT-DEMOGRAPHICS h6 {
    background: #07417b;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    margin: 0 0 15px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: Poppins;
}
.full-width{
    width: 100%;
}
.back_css{
    display: flex;
    justify-content: end;
}
.next_Tab{
    border-right: 2px solid #6f7194;
}
.input-sign{
    margin: 0 4px 3px 0;
    background: #00b372;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    padding: 6% 13% 5% 9%;;
}

.innerSignature{
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 2px;
        height: 228px;
    
}


.Sign_btn{
    margin: 0 4px 3px 0;
    background: #00b372;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    min-width: 90px;
    min-height: 40px;
}
.CommonControlsDiv_main {
    border: 1px solid #d9e1ec;
    padding: 1%;
    float: left;
    border-radius: 3px;
    margin: 8px;
    width: 100%;
}
.CLIENT-LABEL2 {
    // display: block;
    font-family: Poppins;
    margin: 0 0 5px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
table {  
    overflow: auto;
    border: solid #ddd;
  }