
    <div class="CLIENT-DEMOGRAPHICS">
        <h6>Suicidal</h6>
    </div>
    <form [formGroup]="refralForm" (ngSubmit)="Save2()">
        <div class="row p-4" >
            <div class="col-lg-12  ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name=" InPatientAlcoholandOtherDrugsServices" id=" InPatientAlcoholandOtherDrugsServices" formControlName="InPatientAlcoholandOtherDrugsServices" value="yes" >
                            Consumer denies current thoughts of self harm and is future oriented
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name=" PsychiatricServicesSpecifyphysicianname" id=" PsychiatricServicesSpecifyphysicianname" formControlName="PsychiatricServicesSpecifyphysicianname" value="yes" >
                        Passive Thoughts
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="CaseManagement" id="CaseManagement" formControlName="CaseManagement" value="yes" >
                        Active Recurrent Thoughts
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name="LegalServices" id="LegalServices" formControlName="LegalServices" value="yes" >
                            Making Threats
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="CaseManagementChild" id="CaseManagementChild" formControlName="CaseManagementChild" value="yes" >
                        Actionable Plans
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name=" ReturnToReferralSource" id=" ReturnToReferralSource" formControlName="ReturnToReferralSource" value="yes" >
                        Available Means
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name="CummunityHousingProgram" id="CummunityHousingProgram" formControlName="CummunityHousingProgram" value="yes" >
                            Currently Attempted
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12  ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient"  >
                        <input type="checkbox" name="ReferToPrimaryPhysician" id="ReferToPrimaryPhysician" formControlName="ReferToPrimaryPhysician" value="yes" >
                        Attempts in Family History
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name="DomesticViolencesServices" id="DomesticViolencesServices" formControlName="DomesticViolencesServices" value="yes" >
                            If parent, please indicate
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12  ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient"  >
                        <input type="checkbox" name="InpatientMental" id="InpatientMental" formControlName="InpatientMental" value="yes" >
                        Was the parent's attempt successfull?
                    </div>
                </div>
            </div>
            <!-- -----Homicidal--- -->
        </div>
        <div class="CLIENT-DEMOGRAPHICS">
            <h6>Suicidal</h6>
        </div>
        <div class="row p-4" >
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="Homicidal1" id="Homicidal1" formControlName="Homicidal1" value="yes" >
                        Consumer denies current thoughts of other directed at this time
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="Homicidal2" id="Homicidal2" formControlName="Homicidal2" value="yes" >
                        Passive Thoughts
                    </div>
                </div>
            </div>
            <div class="col-lg-12  ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name=" Homicidal3" id=" Homicidal3" formControlName="Homicidal3" value="yes" >
                            Active Recurrent Thoughts
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name=" Homicidal4" id=" Homicidal4" formControlName="Homicidal4" value="yes" >
                        Making Threats
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="Homicidal5" id="Homicidal5" formControlName="Homicidal5" value="yes" >
                        Actionable Plans
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient">
                        <div class="margin-inputclient" >
                            <input type="checkbox" name="Homicidal6" id="Homicidal6" formControlName="Homicidal6" value="yes" >
                            Available Means
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name="Homicidal7" id="Homicidal7" formControlName="Homicidal7" value="yes" >
                        Hx of Violence
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="margin-inputclient">
                    <div class="margin-inputclient" >
                        <input type="checkbox" name=" Homicidal8" id=" Homicidal8" formControlName="Homicidal8" value="yes" >
                        Hx of Family Violence
                    </div>
                </div>
            </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Purpose of Visit and Current Life Situation (include duration/frequency of symptoms and mental status)</label>
                <textarea formControlName="inputfield1" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">History of Current Problem, Development Incidents, Treatment History, Medications, etc.</label>
                <textarea formControlName="inputfield2" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Current Functioning, Symptoms, and Impairments (e.g., occupational, social, emotional)</label>
                <textarea formControlName="inputfield3" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Strengths</label>
                <textarea formControlName="inputfield4" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Weakness</label>
                <textarea formControlName="inputfield5" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Family Mental History</label>
                <textarea formControlName="inputfield6" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">Other (substance abuse, suicidal ideations, court referral, etc.)</label>
                <textarea formControlName="inputfield7" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="margin-inputclient">
                <label class="CLIENT-LABEL">What are your goals for therapy?</label>
                <textarea formControlName="inputfield8" class="StartSpeechRecoganisation accuratsize client-input" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%; height: 80px;"></textarea>
            </div>
        </div>
        <div class="col-md-12">   
            <button type="button" class="continue-btn" id="btncontinue">
                <i class="icon-save"></i>
                Continue
            </button>
        </div>
        </div>

    </form>
    