
<div class="page max-width-1000">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form [formGroup]="pregressNotes" >
                <div class="all-tb">
                    <div class="row mar-1010 d-flex my-2">
                        
            <div class="row">
                <div class="col-lg-12">
                    <div class="arrow d-flex">
                        <label for="type" (click)="back()">
                            <i class="fa fa-circle-arrow-left mx-2"></i>
                        </label>
                        <h1 class="admin-main_heading">COMMUNITY TRAGEDY RESPONSE REPORT <small id="EditNew">New</small></h1>
                    </div>
                </div>
                <div class="col-lg-12 back_css">
                    <button class="NEW-SAVE" type="submit" (click)="Save()">SAVE</button>
                </div>
            </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>SESSION INFORMATION</h6>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-lg-8 next_Tab my-2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">First Name </label>
                                                    <input formControlName="FirstName" type="text" class="client-input">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Middle Name </label>
                                                    <input formControlName="MiddleName" type="text" class="client-input">                                               
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> Last Name</label>
                                                    <input formControlName="LastName" type="text" class="client-input">                                                
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient"
                                                [class.has-error]="genForm['DateofBirth'].dirty && genForm['DateofBirth'].errors || genForm['DateofBirth'].touched && genForm['DateofBirth'].errors">
                                                    <label class="CLIENT-LABEL">Date Of birth</label>
                                                    <input formControlName="DateofBirth" type="date" class="client-input">
                                                    <span *ngIf="genForm['DateofBirth'].dirty && genForm['DateofBirth'].errors" class="has-error">
                                                        <i *ngIf="genForm['DateofBirth'].errors?.['required']">
                                                            Date Of birth is required</i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Age</label>
                                                    <input formControlName="Age" type="text" class="client-input">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Sex</label>
                                                    <select class="client-input" formControlName="Gender">
                                                        <option value="0" selected>Female</option>
                                                        <option value="1">Male</option>
                                                        <option value="2">Transgender</option>
                                                        <option value="3">They</option>
                                                        <option value="4">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="col-md-12">
                                            <div class="margin-inputclient"
                                            [class.has-error]="genForm['DOS'].dirty && genForm['DOS'].errors || genForm['DOS'].touched && genForm['DOS'].errors">
                                                <label class="CLIENT-LABEL">Date of Service</label>
                                                <input type="date" formControlName="DOS" class="client-input">
                                                <span *ngIf="genForm['DOS'].dirty && genForm['DOS'].errors" class="has-error">
                                                    <i *ngIf="genForm['DOS'].errors?.['required']">
                                                       Please enter Date of session is required</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex my-2">
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Start Time</label>
                                                    <input type="time" formControlName="StartTime1" class="client-input">
                                                    <!-- <select class="client-input" formControlName="StartTime1">
                                                        <option *ngFor="let item of StartTimer" value="{{item.Value}}">
                                                            {{item.Text}}</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                            <div class="col-md-4 ms-1">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">End Time</label>
                                                    <input type="time" formControlName="EndTime1" class="client-input">
                                                    <!-- <select class="client-input" formControlName="EndTime1">
                                                        <option *ngFor="let item of EndTime1" value="{{item.Value}}">
                                                            {{item.Text}}</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                            <div class="col-md-4 ms-1">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Duration</label>
                                                    <input type="time" formControlName="TotalTime1" class="client-input">
                                                    <!-- <select class="client-input" formControlName="TotalTime1">
                                                        <option *ngFor="let item of TotalTimer" value="{{item.Value}}">
                                                            {{item.Text}}</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- ####### second #### -->
    
                            <div class="col-md-12">
                                <div class="CLIENT-DEMOGRAPHICS">
                                    <h6>SESSION DETAILS</h6>
                                </div>
                                <div class="content">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Rendering Provider</label>
                                                            <select class="client-input"
                                                                formControlName="Rendering_ProviderID">
                                                                <option value="">Select</option>
                                                                <option value="option1">Name</option>
                                                                <!-- <option *ngFor="let item of StartTimer"
                                                                    value="{{item.Value}}">
                                                                    {{item.Text}}</option> -->
    
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-4">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Procedure Code
                                                                <span class="text-danger">*</span> 
                                                            </label>
                                                            <select class="client-input"
                                                                formControlName="Rendering_ProviderID">
                                                                <option *ngFor="let item of StartTimer"
                                                                    value="{{item.Value}}">
                                                                    {{item.Text}}</option>
    
                                                            </select>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Procedure Code</label>
                                                            <select class="client-input"
                                                                formControlName="Rendering_ProviderID">
                                                                <option value="">Select</option>
                                                                <option value="option1">Name</option>
                                                                <!-- <option *ngFor="let item of StartTimer"
                                                                    value="{{item.Value}}">
                                                                    {{item.Text}}</option> -->
    
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient"                                                    
                                                        [class.has-error]="genForm['date'].dirty && genForm['date'].errors || genForm['date'].touched && genForm['date'].errors">
                                                            <label class="CLIENT-LABEL">Date of the Tragedy <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="date" type="text" class="client-input">                                                        
                                                            <span *ngIf="genForm['date'].dirty && genForm['date'].errors" class="has-error">
                                                                <i *ngIf="genForm['date'].errors?.['required']">
                                                                    Date Of Call is required</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient"                                                   
                                                        [class.has-error]="genForm['time'].dirty && genForm['time'].errors || genForm['time'].touched && genForm['time'].errors">
                                                            <label class="CLIENT-LABEL">Please describe what occurred. <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="time" type="text" class="client-input">
                                                            <span *ngIf="genForm['time'].dirty && genForm['time'].errors" class="has-error">
                                                                <i *ngIf="genForm['time'].errors?.['required']">
                                                                    Time Of Call is required</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient"                                                                                                  
                                                        [class.has-error]="genForm['personCalling'].dirty && genForm['personCalling'].errors || genForm['personCalling'].touched && genForm['personCalling'].errors">
                                                            <label class="CLIENT-LABEL">What Time Was MCT Notified <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="personCalling" type="text" class="client-input">
                                                            <span *ngIf="genForm['personCalling'].dirty && genForm['personCalling'].errors" class="has-error">
                                                                <i *ngIf="genForm['personCalling'].errors?.['required']">
                                                                    Name of Person is required</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient"
                                                        [class.has-error]="genForm['PhoneNo'].dirty && genForm['PhoneNo'].errors || genForm['PhoneNo'].touched && genForm['PhoneNo'].errors">
                                                            <label class="CLIENT-LABEL">What time did team members arrive on scene? <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="PhoneNo" type="text" class="client-input">
                                                            <span *ngIf="genForm['PhoneNo'].dirty && genForm['PhoneNo'].errors" class="has-error">
                                                                <i *ngIf="genForm['PhoneNo'].errors?.['required']">
                                                                    Phone number is required</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="margin-inputclient"
                                                        [class.has-error]="genForm['PhoneNo'].dirty && genForm['PhoneNo'].errors || genForm['PhoneNo'].touched && genForm['PhoneNo'].errors">
                                                            <label class="CLIENT-LABEL">What time did team members depart the scene? <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="PhoneNo" type="text" class="client-input">
                                                            <span *ngIf="genForm['PhoneNo'].dirty && genForm['PhoneNo'].errors" class="has-error">
                                                                <i *ngIf="genForm['PhoneNo'].errors?.['required']">
                                                                    Phone number is required</i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="col-md-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Names of Team Member(s) Responding <span
                                                                class="text-danger">*</span> </label>
                                                            <input formControlName="crisScene" type="text" class="client-input">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputcliente">
                                                            <label>Was This An Initial Response or A Follow-up Response of some sort
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input class="radio1" id="Suicide" name="Suicide" type="radio" value="Yes" spellcheck="true"> Initial
                                                            <br>
                                                            <input class="radio2" id="Suicide" name="Suicide" type="radio" value="No" spellcheck="true"> Follow-Up
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">If completing a follow-up, please provide the date of the follow-up.</label>
                                                            <input formControlName="ParticipantName1" type="text" class="client-input">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputcliente">
                                                            <label>Type of Response
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input class="radio1" id="Suicide" name="Suicide" type="radio" value="Initial" spellcheck="true"> Individual Interventions (being available for support)
                                                            <br>
                                                            <input class="radio2" id="Suicide" name="Suicide" type="radio" value="Follow-Up" spellcheck="true"> Group Intervention
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Number of Individuals Reached By Response
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input formControlName="ParticipantName2" type="text" class="client-input">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label>What stabilization interventions were used. Select all that apply.
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input data-val="true" data-val-required="The InterventionsActive field is required." id="InterventionsActive" name="InterventionsActive" type="checkbox" value="true" spellcheck="true"><input name="InterventionsActive" type="hidden" value="false" spellcheck="true"> Active Listening <br>
                                                            <input data-val="true" data-val-required="The InterventionsSummar field is required." id="InterventionsSummar" name="InterventionsSummar" type="checkbox" value="true" spellcheck="true"><input name="InterventionsSummar" type="hidden" value="false" spellcheck="true"> Summarizing <br>
                                                            <input data-val="true" data-val-required="The InterventionsProviding field is required." id="InterventionsProviding" name="InterventionsProviding" type="checkbox" value="true" spellcheck="true"><input name="InterventionsProviding" type="hidden" value="false" spellcheck="true"> Providing Empathy <br>
                                                            <input data-val="true" data-val-required="The InterventionsBreathing field is required." id="InterventionsBreathing" name="InterventionsBreathing" type="checkbox" value="true" spellcheck="true"><input name="InterventionsBreathing" type="hidden" value="false" spellcheck="true"> Breathing Techniques <br>
                                                            <input data-val="true" data-val-required="The InterventionsGrounding field is required." id="InterventionsGrounding" name="InterventionsGrounding" type="checkbox" value="true" spellcheck="true"><input name="InterventionsGrounding" type="hidden" value="false" spellcheck="true"> Grounding <br>
                                                            <input data-val="true" data-val-required="The InterventionsUnconditional field is required." id="InterventionsUnconditional" name="InterventionsUnconditional" type="checkbox" value="true" spellcheck="true"><input name="InterventionsUnconditional" type="hidden" value="false" spellcheck="true"> Unconditional Positive Regard <br>
                                                            <input data-val="true" data-val-required="The InterventionsReframing field is required." id="InterventionsReframing" name="InterventionsReframing" type="checkbox" value="true" spellcheck="true"><input name="InterventionsReframing" type="hidden" value="false" spellcheck="true"> Reframing <br>
                                                            <input data-val="true" data-val-required="The InterventionsSupportive field is required." id="InterventionsSupportive" name="InterventionsSupportive" type="checkbox" value="true" spellcheck="true"><input name="InterventionsSupportive" type="hidden" value="false" spellcheck="true"> Supportive Outreach <br>
                                                            <input data-val="true" data-val-required="The InterventionsPsycho field is required." id="InterventionsPsycho" name="InterventionsPsycho" type="checkbox" value="true" spellcheck="true"><input name="InterventionsPsycho" type="hidden" value="false" spellcheck="true"> Psychoeducation <br>
                                                            <input data-val="true" data-val-required="The InterventionsTeaching field is required." id="InterventionsTeaching" name="InterventionsTeaching" type="checkbox" value="true" spellcheck="true"><input name="InterventionsTeaching" type="hidden" value="false" spellcheck="true"> Teaching Coping Skills <br>
                                                            <input data-val="true" data-val-required="The InterventionsUtilizing field is required." id="InterventionsUtilizing" name="InterventionsUtilizing" type="checkbox" value="true" spellcheck="true"><input name="InterventionsUtilizing" type="hidden" value="false" spellcheck="true"> Utilizing Silence <br>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="bottom-space">
                                                            <label>What referrals were offered to the participants? Select all that apply.
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <br>
                                                            <input data-val="true" data-val-required="The ParticipantsiMind field is required." id="ParticipantsiMind" name="ParticipantsiMind" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsiMind" type="hidden" value="false" spellcheck="true"> iMind Behavioral Health <br>
                                                            <input data-val="true" data-val-required="The ParticipantsEmergency field is required." id="ParticipantsEmergency" name="ParticipantsEmergency" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsEmergency" type="hidden" value="false" spellcheck="true"> Emergency Petition <br>
                                                            <input data-val="true" data-val-required="The ParticipantsHospital field is required." id="ParticipantsHospital" name="ParticipantsHospital" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsHospital" type="hidden" value="false" spellcheck="true"> Hospital <br>
                                                            <input data-val="true" data-val-required="The ParticipantsPrimary field is required." id="ParticipantsPrimary" name="ParticipantsPrimary" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsPrimary" type="hidden" value="false" spellcheck="true"> Primary Care Doctor/Urgent Care <br>
                                                            <input data-val="true" data-val-required="The ParticipantsCommunity field is required." id="ParticipantsCommunity" name="ParticipantsCommunity" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsCommunity" type="hidden" value="false" spellcheck="true"> Community Resources <br>
                                                            <input data-val="true" data-val-required="The ParticipantsDomestic field is required." id="ParticipantsDomestic" name="ParticipantsDomestic" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsDomestic" type="hidden" value="false" spellcheck="true"> Domestic Violence or Homeless Shelter <br>
                                                            <input data-val="true" data-val-required="The ParticipantsNational field is required." id="ParticipantsNational" name="ParticipantsNational" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsNational" type="hidden" value="false" spellcheck="true"> National Hotline <br>
                                                            <input data-val="true" data-val-required="The ParticipantsChild field is required." id="ParticipantsChild" name="ParticipantsChild" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsChild" type="hidden" value="false" spellcheck="true"> Child Protective Services <br>
                                                            <input data-val="true" data-val-required="The ParticipantsAdult field is required." id="ParticipantsAdult" name="ParticipantsAdult" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsAdult" type="hidden" value="false" spellcheck="true"> Adult Protective Services <br>
                                                            <input data-val="true" data-val-required="The ParticipantsGovernment field is required." id="ParticipantsGovernment" name="ParticipantsGovernment" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsGovernment" type="hidden" value="false" spellcheck="true"> Government Resources <br>
                                                            <input data-val="true" data-val-required="The ParticipantsSpiritual field is required." id="ParticipantsSpiritual" name="ParticipantsSpiritual" type="checkbox" value="true" spellcheck="true"><input name="ParticipantsSpiritual" type="hidden" value="false" spellcheck="true"> Spiritual Support <br>
                                                            <!-- <input data-val="true" data-val-required="The Participantsother1 field is required." id="Participantsother1" name="Participantsother1" type="checkbox" value="true" spellcheck="true"><input name="Participantsother1" type="hidden" value="false" spellcheck="true"> Other: <textarea cols="20" id="Participantsother2" name="Participantsother2" rows="2" style="display: none;"></textarea> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Please provide a brief narrative of the visit that includes specific details about the meeting with the participant(s).
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input formControlName="ParticipantName3" type="text" class="client-input">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Team Member Completing Form
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <input formControlName="ParticipantName4" type="text" class="client-input">
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>