        <div class="col-lg-12">
            <div class="client-tabs">
                <form [formGroup]="dtrengthform">
                    <div class="all-tb">
                        <div class="row mar-1010 d-flex my-2">
                            <div class="col-lg-12 back_css">
                                <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL"> <b>Strength:</b> include assets,resources, and positive things about the client. </label>
                                                            <textarea type="text" class="client-input" formControlName="strengths"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL"> <b>Needs:</b>  include liabilities,weaknesses, and what the person needs are in order to recover.</label>
                                                            <textarea type="text" class="client-input" formControlName="needs"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL"><b>Abilities:</b> include skills, aptitudes, capabilities, talents, and competencies.</label>
                                                            <textarea type="text" class="client-input" formControlName="abilities"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL"> <b>Preferences:</b>  those things the client feels will enhance his/her treatment experience.</label>
                                                            <textarea type="text" class="client-input" formControlName="prefrences"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Summary of Services Provided</label>
                                                            <textarea type="text" class="client-input" formControlName="summary"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Frequency of Contact</label>
                                                            <textarea type="text" class="client-input" formControlName="frequency"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="margin-inputclient">
                                                            <label class="CLIENT-LABEL">Progress Achieved Toward Established Goals:
                                                                <br>
                                                                <b>GA=</b> Goal Achieved ,<b>I =</b> Improvement , <b>MG =</b> Maintained Goals , <b>U =</b> Unimproved , <b>W =</b> Worsening (please explain in a succinct brief summary)
                                                            </label>
                                                            <textarea type="text" class="client-input" formControlName="progressachieved"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>