<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb nxtTab">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="tabs-admin-right-ul">
                            <li>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales</p>
                                <input type="checkbox" class="checkbox-cus">
                            </li>
                            <li>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales</p>
                                <input type="checkbox" class="checkbox-cus">
                            </li>
                            <li>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales</p>
                                <input type="checkbox" class="checkbox-cus">
                            </li>
                            <li>
                                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales</p>
                                <input type="checkbox" class="checkbox-cus">
                            </li>
                            
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="all-tb nxtTab my-3">
                    <div class="row">
                        <label class="CLIENT-LABEL"><b>When an OMS is completed by the clinician, the following individuals
                            will receive a message that its completed</b></label>
                        <div class="col-lg-12">
                            <ul class="tabs-admin-right-ul">
                                <li>
                                    <label>Clinician</label>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                </li>
                                <li>
                                    <label>Clinician Supervisor</label>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                </li>
                                <li>
                                    <label>Clinical Manager</label>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                </li>
                                <li>
                                    <label>Administrator</label>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                </li>
                                <li>
                                    <label>Receptionist</label>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                </li>
                            
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="nxtTab my-3">
                    <div class="row">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>Claim MD Credentials::</h6>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-6">
                                <label class="CLIENT-LABEL">User ID:</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="client-input" type="text" name="UserID" id="UserID">
                            </div>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-6">
                                <label class="CLIENT-LABEL">Account Key:</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="client-input" type="text" name="AccountKey" id="AccountKey">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nxtTab my-3">
                    <div class="row">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>Stripe Credentials:</h6>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-6">
                                <label class="CLIENT-LABEL">Api Key:</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="client-input" type="text" name="ApiKey" id="ApiKey">
                            </div>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-6">
                                <label class="CLIENT-LABEL">Secret Key:</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="client-input" type="text" name="SecretKey" id="SecretKey">
                            </div>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-6">
                                <label class="CLIENT-LABEL">Account Id:</label>
                            </div>
                            <div class="col-lg-6">
                                <input class="client-input" type="text" name="AccountId" id="AccountId">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>