<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb">
                    <div class="row nxtTab">
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL">User Name:</label>
                            <input class="client-input" type="text" name="UserName" id="UserName">
                        </div>
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL">Password:</label>
                            <input class="client-input" type="password" name="Password" id="Password">
                        </div>
                        <div class="col-lg-12">
                            <div class="save-bt rem-abs back_css">
                                <button class="NEW-SAVE bg-success" (click)="submitForm()">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>