.btn-view-claims {
    background: #01b272;
    font-size: 14px;
    color: #fff;
    width: 100%;
}
.space-background{
    display: flex;
    background: #dfebf5;
    margin: 3px 15px;
    padding: 15px 0 15px 0;
    align-items: center;
}