<div class="col-lg-12" style="width: 90%;">
    <div class="content">
        <div class="row">
            <div class="col-lg-12 space-background">
                <div class="row d-flex " >
                    <div class="col-lg-3 my-2" >
                        <label class="LABEL-INPUT">Rejected Claims</label>
                    </div>
                    <div class="col-lg-4 my-2"  style="width:350px;">
                        <label class="LABEL-INPUT"><b>0 Rejected Claims need correction</b></label>
                    </div>
                    <div class="col-lg-2 my-2"  style="width:200px;">
                        <button class="btn-view-claims">View Claims</button>
                    </div>
                    <div class="col-lg-2 my-2" style="width:50px;">
                        <div class="common-tb">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 space-background">
                <div class="row d-flex " >
                    <div class="col-lg-3 my-2" >
                        <label class="LABEL-INPUT">Active Claims</label>
                    </div>
                    <div class="col-lg-4 my-2"  style="width:300px;">
                        <label class="LABEL-INPUT"><b>0 View Claims</b></label>
                    </div>
                    <div class="col-lg-2 my-2"  style="width:200px;">
                        <button class="btn-view-claims">View Claims</button>
                    </div>
                    <div class="col-lg-2 my-2" style="width:50px;">
                        <div class="common-tb">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 space-background">
                <div class="row d-flex " >
                    <div class="col-lg-3 my-2" >
                        <label class="LABEL-INPUT">Denied Claims</label>
                    </div>
                    <div class="col-lg-4 my-2 d-flex"  style="width:320px;">
                        <label class="LABEL-INPUT"><b>2747 View Claims</b></label>
                        <select id="selectLocation" >
                            <option value="0">All Locations</option>
                            <option value="1">Thx / Meds  OMHC</option>
                            <option value="2">PRP</option>
                            <option value="1">Thx / Meds  OMHC</option>
                            <option value="2">PRP</option>
                            <option value="1">Thx / Meds  OMHC</option>
                            <option value="2">PRP</option></select>
                    </div>
                    <div class="col-lg-2 my-2"  style="width:200px;">
                        <button class="btn-view-claims">View Claims</button>
                    </div>
                    <div class="col-lg-2 my-2" style="width:50px;">
                        <div class="common-tb">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>