<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb ">
                    <div class="row nxtTab">
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">+ Add Calendar Visit Types</label>
                            <input class="client-input" type="text" name="AddCalendar" id="AddCalendar">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">+ Time Associated with Visit Type</label>
                            <select class="client-input" id="TimeAssociated">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Note Type</label>
                            <select class="client-input" id="NoteType">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL">Procedure Code</label>
                            <select class="client-input" id="NoteType">
                                <option value="">--Select State--</option>
                            </select>
                        </div>
                        <div class="col-lg-12" style="overflow-x:auto;">
                            <table class="table" id="customers">
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5(WNL)</th>
                                    <th>6(WNL)</th>
                                    <th>7(WNL</th>
                                </tr>
                                <tr>
                                    <td>None of the time extremely severe impairment of problems in functioning;
                                        pervasive level of continuous paid supports needed</td>
                                    <td>A little of the time; severe impairment or problems in functioning; extensive
                                        level of continuous paid supports needed</td>
                                    <td>Occasionally; serious to moderately severe impairment or problems in
                                        functioning; moderate level of continuous paid supports needed</td>
                                    <td>Some of the time; moderare impairment or problems in functioning; low level of
                                        continuous paid supports needed</td>
                                    <td>A good bit of the time; mild impairment or problems in functioning; moderate
                                        level of intermittent paid supports needed</td>
                                    <td>Most of the time; strength w/very mild impairment or problems in functioning;
                                        low level of intermittent paid support needed</td>
                                    <td>All of the time; independently managed DLA in community, no impairment or
                                        problem in functioning requiring paid supports</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>