<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <div class="common-div">
                <ul class="common-div-ul-tab">
                    <li>
                        <a class="text-dark font-weight-bold">PROVIDERS</a>
                        <span class="list_css ms-4 text-secondary">+ ADD NEW CONTACT</span> <br> <span
                            class="list_css ms-1"><b>Deleted/Inactive | Provider Report</b></span>
                    </li>
                </ul>    
            </div>
            <div class="common-div my-3">
                <div class="col-lg-12 margin-inputclient">
                    <label class="CLIENT-LABEL"><b>Total Active Users : 13</b></label>
                    <input class="client-input" type="text" name="ApiKey" id="ApiKey">
                </div>
                <ul class="common-div-ul">
                    <li (click)="clickedData()">
                        <a>Nji Fru</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Steven Holmes</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Adaora Nnanna</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Anika</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>amit Kamal</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Amari Evans</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Amanda Clark</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Adaora Nnanna</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Desiree Gibson</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Covita Mills</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Nji Fru</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Steven Holmes</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Adaora Nnanna</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Anika</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Nji Fru</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Steven Holmes</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Adaora Nnanna</a>
                    </li>
                    <li (click)="clickedData()">
                        <a>Anika</a>
                    </li>
                </ul>  
            </div>
        </div>
    </div>
</div>