<section class="new-client-sec">
    <div class="container-fluid">
        <div class="row">
        <!-- ####-----------form section-------------------############ -->
            <div class="col-lg-12">
                <div class="page-header small_fonts">
                    <div class="page-header-content d-flex">
                            <div class="arrow">
                                <label for="type" (click)="back()">
                                    <i class="fa fa-circle-arrow-left"></i>
                                </label>
                            </div>
                        <h1 class="admin-main_heading">IRP Review/Treatment plan <small id="EditNew">New</small></h1>
                    </div>
                </div>
                <div class="partition-1">
                    <div class="part-2">
                        <form >
                            <div class="">
                                <div class="client-tabs subTabs">
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                        <li [ngbNavItem]="1">
                                            <a ngbNavLink>General</a>
                                            <ng-template ngbNavContent>
                                                <app-general ></app-general >
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3">
                                            <a ngbNavLink>Diagnosis</a>
                                            <ng-template ngbNavContent>
                                                <app-diagnosis></app-diagnosis>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="4">
                                            <a ngbNavLink>Client Plan</a>
                                            <ng-template ngbNavContent>
                                                <app-client-plan></app-client-plan>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="5" (click)="tabchange(1)">
                                            <a ngbNavLink>Goal 1</a>
                                            <ng-template ngbNavContent>
                                                <app-goal [tabindex]="tabindex"></app-goal>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="6" (click)="tabchange(2)">
                                            <a ngbNavLink>Goal 2</a>
                                            <ng-template ngbNavContent>
                                                <app-goal [tabindex]="tabindex"></app-goal>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="7" (click)="tabchange(3)">
                                            <a ngbNavLink>Goal 3</a>
                                            <ng-template ngbNavContent>
                                                <app-goal [tabindex]="tabindex"></app-goal>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="8" (click)="tabchange(4)">
                                            <a ngbNavLink>Goal 4</a>
                                            <ng-template ngbNavContent>
                                                <app-goal [tabindex]="tabindex"></app-goal>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="9">
                                            <a ngbNavLink>Signature</a>
                                            <ng-template ngbNavContent>
                                                <app-signature></app-signature>
                                            </ng-template>
                                        </li>
                                    </ul>
                                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>