.nav-link.active {
    background: #00b578 !important;
}
.tabs-admin {
    padding: 40px 0;
}
.bd-cs{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 2px;
    background: #f5f5f5;
}
.nav-pills.nav.flex-column li a p.tabs-admin-p {
    margin: 0 0 5px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #000 !important;
}
.nav-pills.nav.flex-column li a p.tabs-admin-p-1 {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    color: #000 !important;
}
.nav-pills.nav.flex-column li a {
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
    margin: 0 0 15px 0;
    padding: 20px 15px;
}
.nav-pills.nav.flex-column li a.active p{
    color: #fff !important;
}
.common-div-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
}
.common-div-ul li {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.common-div-ul li {
    display: flex !important;
}
.common-div-ul li:last-child a,.common-div-ul li:last-child a.active {
    border: none !important;
}
.common-div-ul li {
    & a:hover{
        cursor: pointer;
    }
    & span:hover{
        cursor: pointer;
        border: 1px dotted;
    }
}
.tabs-admin-right-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs-admin-right-ul li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 15px 0;
}
.tabs-admin-right-ul li p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    color: #000 !important;
}
.list_css{
    font-size: 12px;
}