<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form >
                <div class="all-tb">
                    <div class="row mar-1010">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <button class="col-md-12 btn-save-1">Today</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <label  class="CLIENT-LABEL">Created Start Date</label>
                                                        <input type="date" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <label  class="CLIENT-LABEL">Created End Date</label>
                                                        <input type="date" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <label  class="CLIENT-LABEL">Payor</label>
                                                        <select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                            <option role="option" value="42">select</option></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <label  class="CLIENT-LABEL">Batch Type</label>
                                                        <select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                            <option role="option" value="42">select</option></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="margin-inputclient">
                                                        <button class="col-md-12 btn-save-1">Get Details</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="width: auto; overflow: auto;">
                                            <div class="col-md-12 my-2">
                                                <label class="CLIENT-LABEL">Report List</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <table id="customers">
                                                    <tr>
                                                      <th > Batch Number</th>
                                                      <th >Date Created</th>
                                                      <th >#of Claims</th>
                                                      <th >Totsl Billed</th>
                                                      <th >Payor</th>
                                                      <th >Starting Date of Visit</th>
                                                      <th >Ending Date of Visit</th>
                                                      <th >ATM Paid</th>
                                                      <th >Batch Type</th>
                                                      <th >Clear House Date</th>
                                                      <th >Download</th>
                                                      <th >Reconciliation</th>  
                                                    </tr>
                                                    <tr> 
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                