<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form >
                <div class="all-tb">
                    <div class="row mar-1010">
                        <div class="col-lg-6">
                            <div class="arrow">
                                <!-- <label for="type" (click)="back()">
                                    <i class="fa fa-circle-arrow-left"></i>
                                </label> -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="save-bt rem-abs" style="float:right;">
                                <!-- <button class="NEW-SAVE" (click)="submitForm()">SAVE</button> -->
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>MENTAL STATUS EXAM SECTION</h6>
                            </div>
                            <div class="content">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="margin-inputclient">
                                            <label class="CLIENT-LABEL">Please list any leisure activities (such as sports, clubs, religious organizatins, etc) that you are involved in currently </label>
                                            <textarea class="StartSpeechRecoganisation accuratsize" cols="20" id="Strengths" name="Strengths" rows="4" style="width:100%;"></textarea>                              
                                        </div>
                                    </div>
                                </div>
                                <!-- APPEARANCE
                                N/A - OK
                                Slight
                                Moderate
                                Severe -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>APPEARANCE</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                              
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Unkempt, disheveled</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                               
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Clothing: dirty, atypical</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Odd phys. characteristics</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Body odors</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Appears unhealthy</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                               
                                
                                <!-- ########################  AFFECT ########################### -->
                              
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>AFFECT</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                              
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Inappropriate to thought</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                               
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Increased lability</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Blunted, dull, flat</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Euphoria, elation</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Anger, hostility</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Depression, sadness</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Anxious</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Irritable</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                 <!-- ########################################### POSTURE####################### -->
                                
                                 <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>POSTURE</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                              
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Slumped</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                               
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Rigid, tense</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>
<!-- #############################################################BODY MOVEMENTS####################### -->


                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>BODY MOVEMENTS</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Accelerate,quick</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Decreased, slowed</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Restlessness, fidgety</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Atypical, unusual</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
<!-- #####################################PERCEPTION############################# -->

<!-- Illusions Auditoryhallucinations Visualhallucinations Tactilehallucinations -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>PERCEPTION</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Illusions</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Auditory hallucinations</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Visualhallucinations</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Tactilehallucinations</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- ##########################SPEECH##################### -->

                                <!-- Rapid Slow Loud Soft Mute Atypical (e.g., slurring) -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>SPEECH</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Rapid</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Slow</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Loud</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Soft</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Mute</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Atypical (e.g., slurring)</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <!-- ########################### COGNITIVE################# -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>COGNITIVE</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Alertness</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Attention span, distractibility</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Short-term memory</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Long-term memory</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- ######################## JUDGEMENT###################### -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>JUDGEMENT</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Decision making</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Impulsivity</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>  
                                        </div>
                                    </div>
                                </div>
                                <!-- ############################ATTITUDE/BEHAVIOR###################### -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>ATTITUDE/BEHAVIOR</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Domineering, controlling</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Submissive, dependent</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Hostile, challenging</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Guarded, suspicious</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Uncooperative</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Negative</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Overly dramatic</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Childlike</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- ###########################################THOUGHT CONTENT/FORM############# -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ul-demo ul-demo-bk">
                                            <ul>
                                                <li><div class="pd"><p>THOUGHT CONTENT/FORM</p></div></li>
                                                <li><div class="pd"><p>N/A-OK</p></div></li>
                                                <li><div class="pd"><p>Slight</p></div></li>
                                                <li><div class="pd"><p>Moderate</p></div></li>
                                                <li><div class="pd"><p>Severe</p></div></li>
                                            
                                            </ul>
                                        </div>
                                        <div class="ul-demo">
                                            <ul>
                                                <li><div class="pd-wh"><p>Obsessions/compulsions</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                            
                                                
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Phobic</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Depersonalization</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Suicidal ideation</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Homicidal ideation</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Delusions</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Incoherent</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Blocking</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Tangential</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Circumstantial</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul>
                                            <ul>
                                                <li><div class="pd-wh"><p>Poverty of thought</p></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>
                                                <li><div class="pd-wh-rd"> <input type="radio"></div></li>    
                                            </ul> 
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-4 down-ele">
                                                <label for="">ORIENTATION</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" name="" id="">
                                                <label for="">Time</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" name="" id="">
                                                <label for="">Place</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" name="" id="">
                                                <label for="">Person</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="checkbox" name="" id="">
                                                <label for="">Situation</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mr">
                                        <div class="row">
                                            <div class="col-lg-2 down-ele2">
                                                <label for="">ORIENTATION</label>
                                            </div>
                                            <div class="col-lg-2 ">
                                                <input type="radio" name="" id="">
                                                <label for="">Complete denial</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="" id="">
                                                <label for="">Slight</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="" id="">
                                                <label for="">Blames others</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="" id="">
                                                <label for="">Blames self awareness</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="" id="">
                                                <label for="">Emotional insight, understanding, change can occur</label>
                                            </div>
                                            <div class="col-lg-2">
                                                <input type="radio" name="" id="">
                                                <label for="">Intellectual insight, but few changes likely</label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                