.has-error {
    input {
        box-shadow: 0 0 0 1px red!important;
    }
    i {
        color: red;
        font-size: 14px;
    }
}
.green-color {
    color: green !important;
  }

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    // background: #f3f9f0;
    position: relative;
    overflow: hidden;
    // background: url(/assets/images/demo-3.jpg);
    // background-size: cover;
    // background-position: center top;
    .center_al {
        max-width: 600px;
        margin: auto;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .fw-normal.mb-3.pb-3 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
        color: #918b8b !important;
    }
    label.form-label {
        // color: var(--mdxP-color-primary-d7);
        font-weight: 600;
        // color: #fff;
    }
    .icon-size {
        top: 15px;
        right: 20px;
        font-size: 22px;
        position: absolute;
        z-index: 99;
        color: #3436e1;
    }
    .logo__login {
        // margin-bottom: 30px !important;
        width: 100%;
        max-width: 60px;
        margin: auto;
        display: block;
    }
}

.text-center.fix-loader {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3.fw-normal.mb-3.pb-3 {
    position: relative;
}

h3.fw-normal.mb-3.pb-3:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 5px;
    border-radius: 5px;
    content: "";
    background: #ff9e16;
    max-width: 80px;
    margin: auto;
}

.text-muted {
    text-align: center;
    display: block;
    margin: 0;
}
.error i{
    font-size: 14px !important;
    font-weight: 400 !important;
    text-transform: initial !important;
}

@media(max-width: 1024px) {
    .login_page {
        background: url(/assets/images/demo-mobile.jpg) !important;
    }
}


.fonterrorset{
    font-size: 14px !important;
    font-style: italic !important;
    font-family: poppins !important;
    font-weight: 400 !important;
    margin-left: 5px !important;
}