<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="substanceForm" (ngSubmit)="Save()">
        <div class="all-tb">
            <div class="row mar-1010 d-flex my-2">
                <div class="col-lg-12 back_css">
                    <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="CLIENT-DEMOGRAPHICS">
                                        <h6>SUBSTANCE USE ASSESSMENT</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Current Substance Use Patterns:</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="margin-inputclient">
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Prior Substance Use Treatment for Individual / Family:</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="margin-inputclient">
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-striped  table-sm " cellspacing="0"width="100%">
                                              <thead class="">
                                                <tr>
                                                  <th >Drug</th>
                                                  <th >Method</th>
                                                  <th >Age 1st used</th>
                                                  <th >Age last used</th>
                                                  <th >Onset of heavy use</th>
                                                  <th ># days used in last 30</th>
                                                  <th >Amt. used in past 48 hrs.</th>
                                                  <th >1st as RX?</th>
                                                  <th >Last used when?</th>
                                                  <th >Amt. used daily/weekly</th>
                                                  <th >Drug of Choice?</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>    
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                               
                                                  <td>
                                                      <ul class="mr-bt-ul ">
                                                          <li class="d-flex">
                                                              <input type="checkbox" name="" id="">
                                                              <label for="">Yes</label>
                                                          </li>
                                                          <li class="d-flex">
                                                              <input type="checkbox" name="" id="" >
                                                              <label for="">No</label> 
                                                          </li>
                                                      </ul>
                                                  </td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td><input  type="text" value="12345"></td>
                                                  <td> 
                                                      <ul class="mr-bt-ul">
                                                      <li class="d-flex">
                                                          <input type="checkbox" name="" id="">
                                                          <label for="">Yes</label>
                                                      </li>
                                                      <li class="d-flex">
                                                          <input type="checkbox" name="" id="" >
                                                          <label for="">No</label> 
                                                      </li>
                                                      </ul>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                        <div class="d-flex pointer">
                                            <label class="CLIENT-LABEL"><i>Add new Drug</i></label>
                                            <img [src]="imagesrc" alt="small" class="addNew">
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Comments:</label>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Any changes in patterns of use over time?</label>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Comments</label>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Does individual ever drink or drug more than he/she intends?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Has individual experienced an increase in the amount he/she can use to get the same effect?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Is there a history of overdose?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Is there a history of seizures?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Is there a history of blackouts?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Has individual ever used medications to either get high or come down from being high?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">With whom does individual usually use?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <div class="d-flex">
                                                    <label class="CLIENT-LABEL">Has individual had previous substance abuse treatment?</label>
                                                    <ul class="input-ul d-flex ms-2">
                                                        <li><input class="" type="checkbox" ><label for="">Yes</label>
                                                    </li>
                                                    <li>
                                                        <input class="" type="checkbox"><label for="">No</label>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Impressions for this section:</label>
                                                <textarea type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>