<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs nxtTab">
            <div class="CLIENT-DEMOGRAPHICS">
                <h6>Upload new documents</h6>
            </div>
            <form>
                <div class="col-lg-12 my-3">
                    <div class="save-bt rem-abs back_css">
                        <i class="fa fa-ban text-danger mx-3"></i>
                        <i class="fa fa-save text-success"></i>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 margin-inputclient d-flex">
                        <div class="col-lg-4">
                            <label class="CLIENT-LABEL">Document Name:</label>
                        </div>
                        <div class="col-lg-8">
                            <input class="client-input" type="text" name="UserName" id="UserName">
                        </div>
                    </div>
                    <div class="col-lg-12 margin-inputclient d-flex">
                        <div class="col-lg-4">
                            <label class="CLIENT-LABEL">Choosen:</label>
                        </div>
                        <div class="col-lg-8">
                            <input class="client-input" type="file" name="fileChoose" id="fileChoose">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <table class="table" id="customers">
                <tr>
                    <th>Document Name</th>
                    <th>Document Type</th>
                    <th>Pages</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>Acknowledgement of Advanced Directive and Client's Rights.docx</td>
                    <td>DOCX</td>
                    <td>0</td>
                    <td><i class="fa fa-trash"></i> <i class="fa fa-download"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>