<div class="row">
    <div class="col-lg-4 margin-inputclient">
        <label class="CLIENT-LABEL">Date from</label>
        <input class="client-input" type="date" name="CompanyName" id="CompanyName">
    </div>
    <div class="col-lg-4 margin-inputclient">
        <label class="CLIENT-LABEL">Date To</label>
        <input class="client-input" type="date" name="FullName" id="FullName">
    </div>
    <div class="col-lg-4 margin-inputclient">
        <br>
        <button class="NEW-SAVE" (click)="search()"><i class="fa fa-search" style="padding-right: 5px;"></i>Search</button>
    </div>
</div>
<div class="col-lg-12" *ngIf="searchValue">
    <ngx-datatable #tablesss class="bootstrap core-bootstrap sz-1000" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="false">

        <ngx-datatable-column name="User Name" prop="UserName" [width]="20">
            <ng-template let-AuthValue="value" let-expanded="expanded" let-row="row" ngx-datatable-cell-template>
                <a href="javascript:void(0)">{{
                    AuthValue }}</a>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Password" prop="password" [width]="20">
            <ng-template let-Payor="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ Payor }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="IP Password" prop="IPPassword" [width]="20">
            <ng-template let-Payor="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ Payor}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Login Time" prop="LoginTime" [width]="20">
            <ng-template let-TerminationDate="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ TerminationDate}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Browser" prop="Browser" [width]="20">
            <ng-template let-TerminationDate="value" let-expanded="expanded" ngx-datatable-cell-template>
                {{ TerminationDate}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>