<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <label class="CLIENT-LABEL">Search Encounter ID</label>
            <input type="text" class="client-input">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Check number</label>
            <input disabled type="text" class="client-input">
        </div>
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Amount</label>
            <input disabled type="text" class="client-input">
        </div>
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Payment Date </label>
            <input disabled type="text" class="client-input">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Payment Method</label>
            <input disabled type="text" class="client-input">
        </div>
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Payor Type</label>
            <input disabled type="text" class="client-input">
        </div>
        <div class="col-lg-4">
            <label class="CLIENT-LABEL">Payor </label>
            <input disabled type="text" class="client-input">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="CLIENT-LABEL">Retraction Date</label>
            <input  type="text" class="client-input">
        </div>
        <div class="col-lg-6">
            <label class="CLIENT-LABEL">Retraction Amount</label>
            <input  type="text" class="client-input">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label class="CLIENT-LABEL">Retraction Reason</label>
            <input  type="text" style="height: 80px;" class="client-input">
        </div>
    </div>
</div>