<app-company-info *ngIf="CurrentTab == 1"></app-company-info>
<app-mail *ngIf="CurrentTab == 2"></app-mail>
<app-password *ngIf="CurrentTab == 3"></app-password>
<app-calender *ngIf="CurrentTab == 4"></app-calender>
<app-consumer-support *ngIf="CurrentTab == 5"></app-consumer-support>
<app-clinical-manager *ngIf="CurrentTab == 6"></app-clinical-manager>
<app-calender-type *ngIf="CurrentTab == 7"></app-calender-type>
<app-administrative-document *ngIf="CurrentTab == 8"></app-administrative-document>
<app-administrative-intake-document *ngIf="CurrentTab == 9"></app-administrative-intake-document>
<app-ticklers *ngIf="CurrentTab == 10"></app-ticklers>
<app-message *ngIf="CurrentTab == 11"></app-message>
<app-managed-care-org *ngIf="CurrentTab == 12"></app-managed-care-org>
<app-features *ngIf="CurrentTab == 13"></app-features>