<div class="row">
    <div class="col-lg-12">
        <form [formGroup]="individualtreatmentform">
            <div class="client-tabs">
                <div class="all-tb">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Individual Treatment Expectations</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="IndividualTreatmentExpectations" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Strengths</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="strength" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Weakness</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="weakness" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Additional Information Required (ethnicity/cultural/gender/expression/etc.)</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="First_Nadditionalinfo" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Client Needs</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="clientneeds" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Client Abilities</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="clientabilities" type="text" class="client-input">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="CLIENT-DEMOGRAPHICS flex-wrp bk-gray">
                                <h6>Client Preferences</h6>
                            </div>
                            <div class="margin-inputclient">
                                <input formcontrolname="clientprefrence" type="text" class="client-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>