<div class="col-lg-12">
    <div class="row">
        <label class="CIENT-LABEL"><b>IOP - Fee Schedule</b></label>
        <table style="width:100%">
            <tr>
              <td><div class="billing_input Fee">
                <input type="text" style="width: 109px  ;border: 1px solid rgb(255, 255, 255);" maxlength="7" id="txt_1103" class="validate"  value="0.00">
            </div></td>
              <td>
                <div class="feeCode">
                    H0015 - NON Medicare/Commercial Payers
                </div>
                <div class="feeScheduleButton d-flex">
                    <button class="SubmitClass_new1 mx-2">Edit</button>
                    <button class="SubmitClass_new mx-2">Schedule</button>
                </div>
            </td> 
            </tr>
            <tr>
              <td><div class="billing_input Fee">
                <input type="text" style="width: 109px ; border: 1px solid rgb(255, 255, 255);" maxlength="7" id="txt_1103" class="validate"  value="0.00">
            </div></td>
              <td>
                <div class="feeCode">
                    S9480 - NON Medicare/Commercial Payers
                </div>
                <div class="feeScheduleButton d-flex">
                    <button class="SubmitClass_new1 mx-2">Edit</button>
                    <button class="SubmitClass_new mx-2">Schedule</button>
                </div>
            </td> 
            </tr>
            <tr>
              <td><div class="billing_input Fee">
                <input type="text" style="width: 109px;border: 1px solid rgb(255, 255, 255);" maxlength="7" id="txt_1103" class="validate"  value="0.00">
            </div></td>
              <td>
                <div class="feeCode">
                    No Description
                </div>
                <div class="feeScheduleButton d-flex">
                    <button class="SubmitClass_new1 mx-2">Edit</button>
                    <button class="SubmitClass_new mx-2">Schedule</button>
                </div>
            </td> 
            </tr>
            <tr>
              <td><div class="billing_input Fee">
                <input type="text" style="width: 109px;border: 1px solid rgb(255, 255, 255);" maxlength="7" id="txt_1103" class="validate"  value="0.00">
            </div></td>
              <td>
                <div class="feeCode">
                    No Description
                </div>
                <div class="feeScheduleButton d-flex">
                    <button class="SubmitClass_new1 mx-2">Edit</button>
                    <button class="SubmitClass_new mx-2">Schedule</button>
                </div>
            </td> 
            </tr>
          </table>
    </div>
</div>
  