<div class="col-lg-12">
    <div class="">
        <form [formGroup]="goalform" (ngSubmit)="Save()">
            <div class="all-tb">
                <div class="row mar-1010 d-flex my-2">
                    <div class="col-lg-6">
                        <!-- <div class="arrow d-flex">
                            <label for="type" (click)="back()">
                                <i class="fa fa-circle-arrow-left"></i>
                            </label>
                            <h1 class="admin-main_heading ms-2">PRP MONTHLY SUMMARY <small>New</small></h1>
                        </div> -->
                    </div>
                    <div class="col-lg-6 back_css">
                        <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="row">
                                <h6>SESSION INFORMATION</h6>
                                <div class="col-lg-12">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Long Term Goal {{tabindex}}</label>
                                        <textarea type="text" class="client-input" formControlName="LongTermGoal"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Progress of Long Term Goal {{tabindex}}</label>
                                        <textarea type="text" class="client-input" formControlName="ProgressofLongTermGoal"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Date Established </label>
                                        <input type="text" class="client-input" formControlName="DateEstablished">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Target Date</label>
                                        <input type="text" class="client-input" formControlName="TargetDate">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">
                                            Date Achieved</label>
                                        <input type="text" class="client-input" formControlName="DateAchieved">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Client Needs/Main Issues:</label>
                                        <input type="date" class="client-input" formControlName="ClientNeedsMainIssues">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h6>Short Term Goal 1</h6>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Goal</label>
                                        <textarea type="text" class="client-input" formControlName="Goal"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Date Established </label>
                                        <input type="text" class="client-input" formControlName="dateestablished">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Target Date</label>
                                        <input type="text" class="client-input" formControlName="targetdate">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">
                                            Date Achieved</label>
                                        <input type="text" class="client-input" formControlName="dateachieved2">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Frequency</label>
                                        <textarea type="text" class="client-input" formControlName="Frequency"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="margin-inputclient">
                                        <label class="CLIENT-LABEL">Treatment Modality</label>
                                        <textarea type="text" class="client-input" formControlName="treatment"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <a href="javascript:viod()">Please click here to enter more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>