<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="guardianForm" >
            <div class="all-tb"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>GUARDIAN INFORMATION (For Minor Clients)</h6>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-12 my-2">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Parent/Guardian Name </label>
                                                <input formControlName="FirstName" type="text" class="client-input">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Phone(s) </label>
                                                <input formControlName="MiddleName" type="text" class="client-input">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Relation to Client</label>
                                                <input formControlName="LastName" type="text" class="client-input">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Address</label>
                                                <input formControlName="LastName" type="text" class="client-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Presenting Problem(s) / Reason for Re-referral</label>
                                                <textarea class="client-input" name="" id="" cols="30" rows="10"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">If yes, explain </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Recent School/Work Absences?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Explain </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Recent School/Work Suspension/Expulsions/Terminations?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Explain </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Recent Psychiatric/Somatic Hospitalization(s)?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Explain </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Recent Suicidal/Homicidal Ideation?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Explain </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Has client had recent psychological or educational testing through their current school or another agency?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">If yes, when where, by whom? </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Does client receive mental health services from additional provider(s) (i.e. school therapist, psychiatrist, etc…) ?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">If yes, when where, by whom? </label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Is client currently prescribed/taking any medication (somatic and/or psychiatric)?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">If yes, please list?</label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex margin-inputclient">
                                                <div class="">
                                                  <label class="CLIENT-LABEL">Client has Primary care Physician?</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">Yes</label>
                                                </div>
                                                <div class="mx-4 margin-inputclient d-flex">
                                                  <input type="radio" name="harmingNo" id="harmingNo" value="yes"><label class="CLIENT-LABEL">No</label>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">If yes, please identify Name, Address, & Phone?</label>
                                                <input formControlName="Rendering_ProviderID" class="client-input" type="text" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>