<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="rehabForm">
            <div class="all-tb"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>CLIENT’S CURRENT REHABILITATION NEEDS (Check all that apply)</h6>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>SELF-CARE SKILLS</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>INDEP. LIV. SKILLS</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>FINAN. MANAG/ ASST.</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>HOUSING ASSIST</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>EDUCATIONAL ASSIST</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>VOCATION. SKILLS</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>TRANSPORTATION</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>MED. MNGMNT</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>TX COMPLIANCE</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>SOMATIC TX ASSIST</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>PSYCHOEDUCATION</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>SOCIAL/COPING SKILLS</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>LEIS./COMMUN. INTER.</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>ALC. ABUSE TX</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>SUBST. ABUSE TX</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row my-1">
                                        <ul class="all-li-radio" style="flex-wrap: nowrap;">
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>SAFETY</label>
                                            </li>
                                            <li class="col-lg-4">
                                              <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                              <label>LEGAL/CUSTODIAL ASSIST</label>
                                            </li>
                                            <li class="col-lg-4">
                                                <label>Other:</label>
                                                <input class="client-input" type="text" name="" id="" style="max-width: 350px;">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Other needs identified? please identify below</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>Signatures</h6>
                        </div>
                        <div class="CLIENT-DEMOGRAPHICS1">
                            <h6 style="text-align: center;">*COLLABORATION AGREEMENT*</h6>
                            <h6 style="text-align: center;">MY PRINTED NAME, SIGNATURE, & CREDENTIALS BELOW INDICATE:</h6>
                            <h6>I agree to participate in voluntary collaboration, scheduled & emergency team treatment planning sessions for my referred client(s). I am aware that in order for my client to receive consistent and uninterrupted Psychiatric Rehabilitation Treatment, my prompt communication and attention to client matters regarding my referred client, including referral request, scheduled treatment sessions, and collaboration with UHS service providers, is required.</h6>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button class="Sign_btn">Sign</button>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="margin-inputclient">
                                                        <select class="client-input">
                                                            <option 
                                                                value="">--Select--</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="innerSignature">
                                                        <div class="inner-img-border">
                                                            <img class="img-class" src="/Content/Signature/no_sign.jpg" alt="Sign">
                                                            <div class="line"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>