<div class="col-lg-12">
    <div class="col-lg-12 back_css">
        <button class="NEW-SAVE" type="button" (click)="Save()">SAVE</button>
    </div>
    <div class="client-tabs">
        <form [formGroup]="pregressNotes" >
            <div class="all-tb">
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>29. Hear voices or see things?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>30. Think people were watching you?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>31. Think people were against you?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <div class="CLIENT-LABEL">
                        <B><Strong>During the PAST MONTH, how much of the time did you…</Strong></B>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>32. Have mood swings?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>33. Feel short tempered?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>34. Think about hurting yourself?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>



                <div class="col-md-12">
                    <div class="CLIENT-LABEL">
                        <B><Strong>During the PAST MONTH, how often…</Strong></B>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>35. Did you have an urge to drink alcohol or take street drugs?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>36. Did anyone talk to you about your drinking or drug use?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>37. Did you try to hide your drinking or drug use?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
                <div class="col-md-12">
                    <label class="CLIENT-LABEL"><b>38. Did you have problems from your drinking or drug use?</b> [CARD #4 ]</label>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Never </label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="1">
                        <label>Rarely</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="2" >
                            <label>Sometimes</label>
                    </div>
                    <div class="d-flex">
                        <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="3">
                        <label>Often</label>
                    </div>
                    <div class="d-flex">
                            <input type="radio" name="Independent" formControlName="Independent"  id="Independent" value="4">
                            <label>Always</label>
                    </div>   
                </div>
            </div>
        </form>
    </div>
</div>