<section class="login_page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card center_al p-4 mt-1">
                    <div class="card-body">
                        <img class="logo__login img-fluid" src="assets/images/SRS-Logo-Solo.png" width="60px">
                        
                                <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Reset Password</h3>
                                <form [formGroup]="ResetForm" (ngSubmit)="Rest()" >
                                    <div class="col-lg-12 ">
                                        <div class="form-outline mb-5" [class.has-error]="f['user_pass'].dirty&& f['user_pass'].errors || f['user_pass'].touched && f['user_pass'].errors" style="position: relative;">
                                            <input [type]="passwordTextType ? 'text' : 'password'" id="passwordId" placeholder="Password"  formControlName="user_pass" class="form-control form-custom form-control-lg">
                                            <i class="fa icon-size" [ngClass]="{'fa-eye' : passwordTextType, 'fa-eye-slash' : !passwordTextType}" (click)="passwordTextType = ! passwordTextType"  style="position: absolute; right: 24px; top: 15px;"></i>
                                            <span  *ngIf="!f['user_pass'].hasError('required')">
                                                    <i class="fa" [class.fa-times-circle]="f['user_pass'].hasError('minlength')" 
                                                    [class.green-color]="!f['user_pass'].hasError('minlength')"
                                                    [class.fa-check-circle]="!f['user_pass'].hasError('minlength')"> <span class="fonterrorset">Must have at least 8 characters!</span>
                                                    </i> <br>
                                                    <i class="fa"
                                                        [class.fa-times-circle]="f['user_pass'].hasError('hasCapitalCase')"
                                                        [class.green-color]="!f['user_pass'].hasError('hasCapitalCase')"
                                                        [class.fa-check-circle]="!f['user_pass'].hasError('hasCapitalCase')"> <span class="fonterrorset">Must contain at least 1 in Capital Case!</span>
                                                        
                                                    </i> <br>
                                                    <i class="fa"
                                                        [class.fa-times-circle]="f['user_pass'].hasError('hasSmallCase')"
                                                        [class.green-color]="!f['user_pass'].hasError('hasSmallCase')"
                                                        [class.fa-check-circle]="!f['user_pass'].hasError('hasSmallCase')"> <span class="fonterrorset">Must contain at least 1 Letter in Small Case!</span>
                                                    
                                                    </i> <br>
                                                    <i class="fa"
                                                        [class.fa-times-circle]="f['user_pass'].hasError('hasNumber')"
                                                        [class.green-color]="!f['user_pass'].hasError('hasNumber')"
                                                        [class.fa-check-circle]="!f['user_pass'].hasError('hasNumber')"><span class="fonterrorset">Must contain at least 1 number!</span>
                                                        
                                                    </i> <br>
                                                    <i class="fa"
                                                        [class.fa-times-circle]="f['user_pass'].hasError('hasSpecialCharacters')"
                                                        [class.green-color]="!f['user_pass'].hasError('hasSpecialCharacters')"
                                                        [class.fa-check-circle]="!f['user_pass'].hasError('hasSpecialCharacters')"> <span class="fonterrorset">Must contain at least 1 Special Character!</span>
                                                        
                                                    </i> <br>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-outline mb-5" [class.has-error]="f['confirm_password'].dirty&& f['confirm_password'].errors || f['confirm_password'].touched && f['confirm_password'].errors" style="position: relative;">
                                            <input id="passwordId" placeholder=" confirm password"  formControlName="confirm_password" class="form-control form-custom form-control-lg">
                                            <i class="fa icon-size" [ngClass]="{'fa-eye' : passwordTextType1, 'fa-eye-slash' : !passwordTextType1}" (click)="passwordTextType1 = ! passwordTextType1"  style="position: absolute; right: 24px; top: 15px;"></i>
                                            <span *ngIf="f['confirm_password'].dirty && f['confirm_password'].errors" class="has-error">
                                                <i *ngIf="f['confirm_password'].errors?.['required']">Confirm Password is required</i>
                                                <i *ngIf="f['confirm_password'].errors?.['pattern']">Confirm Password is  must match with password</i>                
                                            </span>
                                        </div>
                                    </div>
                                <div class="pt-1 mb-5">
                                    <button class="btn btn-danger w-100 btn-lg btn-block" type="submit">Set Password</button>
                                </div>
                            </form>  
                                <!-- <p class="small mb-3 pb-lg-2"><a class="text-muted" [routerLink]="['/login']" href="javascript:void(0)">Back</a></p> -->
                                <p class="small mb-3 pb-lg-2"><a class="text-muted" [routerLink]="['/login']" href="javascript:void(0)">Back to Login</a></p>
    
                      
    
                       
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>