<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb">
                    <div class="row">
                        <div class="col-lg-6">
                                <h5>Client Information</h5>
                        </div>
                        <div class="col-lg-6">
                            <div class="save-bt rem-abs back_css">
                                <i class="fa fa-ban text-danger"></i>
                                <i class="fa fa-save text-success mx-3"></i>
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row nxtTab my-2">
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL"><span class="text-danger">*</span>User Name:</label>
                            <input class="client-input" type="text" name="CompanyName" id="CompanyName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL"><span class="text-danger">*</span>Full Name:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-4 margin-inputclient">
                            <label class="CLIENT-LABEL">Cell Number:</label>
                            <input class="client-input" type="text" name="CompanyName" id="CompanyName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Office:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax"><span class="text-danger">*</span>Email
                                Address:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL"><span class="text-danger">*</span>Password:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL" for="Fax"><span class="text-danger">*</span>Re-Enter
                                Password:</label>
                            <input class="client-input" type="text" name="FullName" id="FullName">
                        </div>
                        <div class="col-lg-12">
                            <ul class="all-li-radio und_line">
                                <li>
                                    <input type="checkbox" name="harmingNo" id="harmingNo" value="yes">
                                    <label><b>User must change password on next login</b></label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 my-3">
                                <button class="NEW-SAVE">UNLOCK ACCOUNT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>