<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="mentalstatusiop">
            <div class="all-tb">
                <div class="row mar-1010 d-flex my-2">
                    <div class="col-lg-12 back_css">
                        <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div class="content">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> <b>Attitude and Behavior: </b> (attitude toward interviewer; contact with environment; dress; expressive movements; facial expression; motor activity)</label>
                                                    <textarea type="text" class="client-input" formControlName="attitudeandbehavior"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> <b>Stream of Mental Activity:</b> (verbal productivity; spontaneity; distractibility; language deviations; reaction time)</label>
                                                    <textarea type="text" class="client-input" formControlName="StreamofMental"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"><b>Emotional Reactions:</b>(emotional display; predominant affect; persistence of mood; variability of affect; appropriateness of affect)</label>
                                                    <textarea type="text" class="client-input" formControlName="emotionalreaction"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> <b>Mental Trend:</b>(persecutory ideas; suspiciousness; hypochondria; unrealistic ideas; nihilism; depressive trends; grandiosity; hallucinations; illusions; delusions; phobias; obsessions; preoccupations; suicidal ideation; homicidal ideation)</label>
                                                    <textarea type="text" class="client-input" formControlName="mentaltreand"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> <b>Sensorium, Mental Grasp and Capacity: </b>(orientation; memory – recent, remote, immediate; retention and recall; calculation; school – general knowledge; intelligence)</label>
                                                    <textarea type="text" class="client-input" formControlName="sensorium"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL"> <b>Insight and Judgment:</b>(awareness of defects; personal judgment; impersonal judgment; plans for the future)</label>
                                                    <textarea type="text" class="client-input" formControlName="insightandjugment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>