<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb">
                    <div class="row nxtTab">
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Mail Server:</label>
                            <input class="client-input" type="text" name="MailServer" id="MailServer">
                        </div>
                        <div class="col-lg-6 margin-inputclient">
                            <label class="CLIENT-LABEL">Enable SSL\TLS:</label>
                            <ul class="all-li-radio d-flex">
                                <li>
                                    <input type="radio" name="harmingNo"
                                        id="harmingNo" value="yes">
                                    <label>Yes</label>
                                </li>
                                <li>
                                    <input type="radio" name="harmingNo"
                                        id="harmingNo" value="yes">
                                    <label>No</label>
                                </li>
                                </ul>
                        </div>
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL">User Name for SMTP Server:</label>
                            <input class="client-input" type="text" name="UserName" id="UserName">
                        </div>
                        <div class="col-lg-12 margin-inputclient">
                            <label class="CLIENT-LABEL">Password for SMTP Server:</label>
                            <input class="client-input" type="text" name="Password" id="Password">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>