<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form >
                <div class="all-tb">
                    <div class="row mar-1010">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Date Of Visit From</label>
                                                        <input type="date" class="client-input" id="Strengths" name="Strengths" rows="1" style="width:100%;">

                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-8">
                                                    <div class="margin-inputclient d-flex">
                                                            <textarea class="StartSpeechRecoganisation accuratsize" cols="10" id="Strengths" name="Strengths" rows="1" style="width:100%;"></textarea>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>    
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="margin-inputclient ">
                                                        <label class="CLIENT-LABEL">Date Of Visit To</label>
                                                        <input type="date" class="client-input" id="Strengths" name="Strengths" rows="1" style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 my-2 d-flex">
                                            <div class="col-md-11">
                                                <div class="d-flex">
                                                    <button class="btn-save-2" style="margin: 0.5px;">CREATED</button>
                                                    <button class="btn-save-1" style="margin: 0.5px;">BILLED</button>
                                                    <button class="btn-save-1" style="margin: 0.5px;">RE-BILL</button>
                                                    <button class="btn-save-1" style="margin: 0.5px;">Rejected</button>
                                                    <button class="btn-save-1" style="margin: 0.5px;">PREBATCH</button>
                                                    <button class="btn-save-1" style="margin: 0.5px;">DENIED</button>
                                                    <label  class="CLIENT-LABEL" style="margin: 0.5px;">Total Count: <b>1</b></label>
                                                </div>
                                            </div>
                                            <div class="com-md-1">
                                                <button class="btn-save-3">Update</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="width: auto; overflow: auto;">
                                            <div class="col-md-12 my-2">
                                                <label class="CLIENT-LABEL">Report List</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <table id="customers">
                                                    <tr>
                                                      <th ><input type="checkbox" name="" id=""></th>
                                                      <th > Encountered ID</th>
                                                      <th >First Name</th>
                                                      <th >Last Name</th>
                                                      <th >Status</th>
                                                      <th >AXIS1</th>
                                                      <th >Date of Birth</th>
                                                      <th >Date of Visit</th>
                                                      <th >Insurance ID</th>
                                                      <th >Insurance Type</th>
                                                      <th >Signed</th>
                                                      <th >Clinician</th>
                                                      <th >Preocedure Code</th>
                                                      <th >Charges</th>
                                                      <th >Payor</th>
                                                      <th >Location</th>
                                                      <th >Reject Reason</th>
                                                      <th >Modifier</th>
                                                    </tr>
                                                    <tr>    
                                                        <td></td>
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                        <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                      <td><input type="text" name="" id="" class="client-input"></td>
                                                    </tr>
                                                    <tr>
                                                      <th ><input type="checkbox" name="" id=""></th>
                                                      <th > 10033</th>
                                                      <th >Lafeniaty</th>
                                                      <th >Harris</th>
                                                      <th >F31.4</th>
                                                      <th ><select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                        <option role="option" value="42">select</option></select></th>
                                                      <th >F31.4</th>
                                                      <th >07/08/1994	</th>
                                                      <th ><input type="date" name="" id="" class="client-input"></th>
                                                      <th >Medicaid</th>
                                                      <th >30819551940	</th>
                                                      <th >No</th>
                                                      <th ><select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                        <option role="option" value="42">select</option></select></th>
                                                      <th ><select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                        <option role="option" value="42">H2016</option></select></th>
                                                      <th >1052.47</th>
                                                      <th >Optum Maryland Medicaid	</th>
                                                      <th ><select class="client-input" role="select" id="1_ProcedureCode" name="ProcedureCode" size="1">
                                                        <option role="option" value="42">select</option></select></th>
                                                    </tr>
                                                    <label for="" class="CLIENT-LABEL">Total:</label>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                