.btn-save-1{
    border: none;
    background-color: rgb(65, 151, 226);
    border-radius: 2px;
    color: white;
}
.btn-save-2{
    border: none;
    background-color: #08090a;
    border-radius: 2px;
    color: white;
}
.btn-save-3{
    border: none;
    background-color: green;
    border-radius: 2px;
    color: white;
}
#customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    color: #08090a;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-size: 14px;
    min-width: 140px;
  }