<div class="col-lg-12">
    <div class="client-tabs">
        <form [formGroup]="diagnosisForm">
            <div class="all-tb"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="CLIENT-DEMOGRAPHICS">
                            <h6>DSM V PRIMARY BEHAVIORAL DIAGNOSES</h6>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-12 my-2">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Category 1 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diag. Code 1 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Description</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Category 2 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diag. Code 2 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Description</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Category 3 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diag. Code 3 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Description</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Category 4 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diag. Code 4 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Description</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diagnostic Category 5 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Diag. Code 5 </label>
                                                <select class="client-input" name="" id="">
                                                    <option value="" selected>--selected--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="margin-inputclient">
                                                <label class="CLIENT-LABEL">Description</label>
                                                <textarea  type="text" class="client-input"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <hr>
                                
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">DX. Clinician Name </label>
                                                        <input type="text" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Date Of Most Recent Diagnosis</label>
                                                        <input type="text" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Date of Last Client Session</label>
                                                        <input type="text" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Email</label>
                                                        <input type="date" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">Phone/Fax</label>
                                                        <input type="text" class="client-input">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="margin-inputclient">
                                                        <label class="CLIENT-LABEL">DX Clinician Address</label>
                                                        <input type="text" class="client-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>