.decode-btn{
         background: #0998ff; 
     border: none; 
     height: 34px !important; 
     border-radius: 3px; 
     font-size: 13px !important; 
     color: #fff; 
     font-weight: 500; 
     text-transform: uppercase;   
}