<div class="col-lg-12">
    <div class="">
        <form [formGroup]="pregressNotes" (ngSubmit)="Save()">
            <div class="all-tb">
                <div class="row mar-1010 d-flex my-2">
                    <div class="col-lg-12 back_css">
                        <button class="NEW-SAVE" (click)="Save()">SAVE</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <!-- ####### second #### -->
                        <div class="col-md-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>RESIDENTIAL/HOUSING</h6>
                            </div>
                            <div class="CILENT-LABEL">
                                Current residential arrangement?
                            </div>
                            <div class="content">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="row p-4" >
                                                        <div class="col-lg-3  ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient">
                                                                    <div class="margin-inputclient" >
                                                                        <input type="checkbox" name="First_Name" id="First_Name" value="yes" >
                                                                        Homeless 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3  ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient">
                                                                    <div class="margin-inputclient" >
                                                                        <input type="checkbox" name="First_Name" id="First_Name" value="yes" >
                                                                        Shelter 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Middle_Initial" id="Middle_Initial"  value="yes" >
                                                                    Half-way House
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Last_Name" id="Last_Name" alue="yes" >
                                                                    Recovery House
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient">
                                                                    <div class="margin-inputclient" >
                                                                        <input type="checkbox" name="First_Name" id="First_Name" value="yes" >
                                                                        Transitional House 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Middle_Initial" id="Middle_Initial"  value="yes" >
                                                                    Grp Home
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Last_Name" id="Last_Name" alue="yes" >
                                                                    Fstr Home
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Last_Name" id="Last_Name" alue="yes" >
                                                                    RTC
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Middle_Initial" id="Middle_Initial"  value="yes" >
                                                                    COMPLIANCE
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient" >
                                                                    <input type="checkbox" name="Last_Name" id="Last_Name" alue="yes" >
                                                                    With Family
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient">
                                                                    <div class="margin-inputclient" >
                                                                        <input type="checkbox" name="First_Name" id="First_Name" value="yes" >
                                                                        Home Owner
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 ">
                                                            <div class="margin-inputclient">
                                                                <div class="margin-inputclient">
                                                                    <div class="margin-inputclient" >
                                                                        <input type="checkbox" name="First_Name" id="First_Name" value="yes" >
                                                                        Renting
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-striped  table-sm " cellspacing="0" width="100%">
                                                        <!-- <tr style="background-color: rgb(32, 143, 207);color: #fff;">
                                                            <th style="text-align: center;"></th>
                                                            <th style="text-align: center;"> </th>
                                                            <th style="text-align: center;"> </th>
                                                            <th style="text-align: center;"> </th>
                                                        </tr> -->
                                                        <tr>
                                                            <td>Client’s housing arrangements are sufficient to meet client’s needs:</td>
                                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                                        <tr>
                                                            <td>Client seeking alternative housing</td>
                                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                                        <tr>
                                                            <td>Client feels safe/comfortable in current living arrangement</td>
                                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                                        <tr>
                                                            <td>Client lives in sanitary environment:</td>
                                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="CLIENT-DEMOGRAPHICS">
                                <h6>EDUCATIONAL/VOCATIONAL</h6>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Highest Level of Education Completed?:</label>
                                                    <input formControlName="FirstName" type="text" class="client-input">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Current Grade:</label>
                                                    <input formControlName="FirstName" type="text" class="client-input">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="margin-inputclient">
                                                    <label class="CLIENT-LABEL">Status:</label>
                                                    <input formControlName="FirstName" type="text" class="client-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped  table-sm " cellspacing="0" width="100%">
                                        <tr>
                                            <td>Client receiving supportive / special education services:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                    </table>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="CIENT-LABEL">Client has the following:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <ul class="input-ul">
                                                    <li>
                                                        <input type="radio" name="" id="">IEP	
                                                        <input type="radio" name="" id="">504
                                                        <input type="radio" name="" id="">BIP
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="CIENT-LABEL">Most recent IEP date:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped  table-sm " cellspacing="0" width="100%">
                                        <tr>
                                            <td>
                                                Client is currently enrolled in school:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client maintains apporpiate interaction in classroom</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client needs additional assistance to complete assignments</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client is literate / can read & write?</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Lient interested in pursuing post-secondary/higher education?</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client utilizes/requires adaptive equipment for education?</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <label class="CLIENT-LABEL"><b>If yes, what equipment is utilized, needed, or desired?</b> </label>
                                    <input formControlName="input1" type="text" class="client-input" >
                                </div>
                                <div>
                                    <table class="table table-striped  table-sm " cellspacing="0" width="100%">
                                        <tr>
                                            <td>
                                                Client is currently employed:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client is actively seeking new/additional employment:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client has knowledge of how to independently seek employment:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client interested in vocational training:</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                        <tr>
                                            <td>Client utilizes/requires adaptive equipment for employment?</td>
                                            <td style="text-align: center;"><input type="radio" name="" id="">Yes</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">No</td>
                                        <td style="text-align: center;"><input type="radio" name="" id="">N/A</td>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <label class="CLIENT-LABEL"><b>If yes, what equipment is utilized, needed, or desired?:</b> </label>
                                    <input formControlName="input1" type="text" class="client-input" style="height: 80px;">
                                </div>
                            </div>
                        </div>
                        <!-- ####signatures#### -->
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>