<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs">
            <form>
                <div class="all-tb nxtTab">
                    <div class="row">
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-5">
                            <label class="CLIENT-LABEL">+ Add Clinical Managers</label>
                            </div>
                            <div class="col-lg-7">
                                <input class="client-input" type="text" name="UserName" id="UserName">
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-12">
                            <label class="CLIENT-LABEL"><b>Community Support Managers(CSM)</b></label>
                        </div>
                        <div class="col-lg-12 my-3">
                            <div class="save-bt rem-abs back_css">
                                <i class="fa fa-ban text-danger mx-3"></i>
                                <i class="fa fa-save text-success"></i>
                            </div>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-5">
                            <label class="CLIENT-LABEL">No show fee for commerical client</label>
                            </div>
                            <div class="col-lg-7">
                                <input class="client-input" type="text" name="commericalclient" id="commericalclient">
                            </div>
                        </div>
                        <div class="col-lg-12 margin-inputclient d-flex">
                            <div class="col-lg-5">
                            <label class="CLIENT-LABEL">No show fee for medicaid client</label>
                            </div>
                            <div class="col-lg-7">
                                <input class="client-input" type="text" name="medicaidclient" id="medicaidclient">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>