.CLIENT-LABEL {
    display: block;
    font-family: Poppins;
    margin: 0 0 5px;
    color: #5a607f;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px !important;
}
.save-bt.rem-abs.back_css i{
    font-size: 24px;
}