<section class="new-client-sec">
    <div class="container-fluid">
        <div class="row">
        <!-- ####-----------form section-------------------############ -->
            <div class="col-lg-12">
                <div class="page-header small_fonts">
                    <div class="page-header-content d-flex">
                            <div class="arrow">
                                <label for="type" (click)="back()">
                                    <i class="fa fa-circle-arrow-left"></i>
                                </label>
                            </div>
                        <h1 class="admin-main_heading" style="text-transform: uppercase;">Continuation of Services Referral <small id="EditNew">New</small></h1>
                    </div>
                </div>
                <div class="partition-1">
                    <div class="part-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <h6>Client Details</h6>
                                </div><hr>
                            </div>
                        </div>
                        <form >
                            <div class="client-tabs">
                                <div class="client-tabs subTabs">
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                        <li [ngbNavItem]="1">
                                            <a ngbNavLink>General</a>
                                            <ng-template ngbNavContent>
                                               <app-general></app-general>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="2">
                                            <a ngbNavLink >Guardian Information</a>
                                            <ng-template ngbNavContent>
                                                <app-guardian-information></app-guardian-information>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3">
                                            <a ngbNavLink >Diagnoses</a>
                                            <ng-template ngbNavContent>
                                                <app-diagnoses></app-diagnoses>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="4">
                                            <a ngbNavLink >Rehabilitation Needs</a>
                                            <ng-template ngbNavContent>
                                                <app-rehabilitation></app-rehabilitation>
                                            </ng-template>
                                        </li>
                                    </ul>
                                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>