<section class="notes-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">

                <div class="notes-td" (click)="backClicked()">
                    <img [src]="imagesrc" alt="">
                    <p>
                        MOBILE RESPONSE TEAM NOTES
                    </p>
                </div>
                <div class="right-border">
                    <div class="note-search-bx-1">
                        <label>search client</label>
                        <div class="note-search-input">
                            <input type="text" id="txt_Autocomplete" style="width: auto;" spellcheck="true"
                                class="ui-autocomplete-input" autocomplete="off">
                        </div>
                    </div>

                    <div class="note-row3 client-name-block-border">
                        <div class="client-name-block ">
                            <div class="cleint-left">
                                <div class="main-form">
                                    <div class="form-left">Client Name:</div>
                                    <div class="form-right" id="Client_Name"></div>
                                </div>
                                <div class="main-form" id="Main_AddressDiv">
                                    <div class="form-left">Client Address:</div>
                                    <div class="form-right" id="Client_Address"></div>
                                </div>
                                <div class="main-form">
                                    <div class="form-left">City, State, Zip:</div>
                                    <div class="form-right" id="Client_Name"></div>
                                </div>
                                <div class="main-form">
                                    <div class="form-left">Date of Birth:</div>
                                    <div class="form-right" id="Client_Name"></div>
                                </div>
                                <div class="main-form" id="Main_HomePhone_Div">
                                    <div class="form-left">Home Phone:</div>
                                    <div class="form-right" id="Client_Phone"></div>
                                </div>
                                <div class="main-form" id="Main_CellPhone">
                                    <div class="form-left">Cell Phone:</div>
                                    <div class="form-right" id="Client_MobilePhone"></div>
                                </div>
                            </div>
                            <div class="client-right">

                            </div>
                        </div>
                    </div>


                    <div class="note-search-bx-1">
                        <label>Client Memo</label>
                        <div class=" note-search-input">
                            <input type="text" id="txt_Autocomplete" class="form-control" style="width: auto;"
                                spellcheck="true" class="ui-autocomplete-input" autocomplete="off">
                        </div>
                    </div>

                    <div class="note-row3 client-name-block-border">
                        <div class="client-name-block " style="height: 100px;">
                        </div>
                    </div>

                    <p>Previous Notes</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="note-right1 note-right-full-block">

                    <div class="common-mar-1" routerLink="mobileresponsereport">
                        <h3><a href="javascript:void(0)">Mobile Response Report</a></h3>
                        <p>Mobile Response Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="initialElectronic">
                        <h3><a href="javascript:void(0)">Initial Electronic Data Entry Form</a></h3>
                        <p>Enter New Initial Electronic Data Entry Form</p>
                    </div>
                    <div class="common-mar-1" routerLink="communitytragedy">
                        <h3><a href="javascript:void(0)">Community Tragedy Response Report</a></h3>
                        <p>Community Tragedy Response Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="caseclosure">
                        <h3><a href="javascript:void(0)">Case Closure Form</a></h3>
                        <p>Case Closure Form.</p>
                    </div>
                    <div class="common-mar-1" routerLink="communityconcern">
                        <h3><a href="javascript:void(0)"> Community Concerns Request</a></h3>
                        <p>Community Concerns Request </p>
                    </div>
                    <div class="common-mar-1" routerLink="briefdiagnostic">
                        <h3><a href="javascript:void(0)"> Brief Diagnostic Report</a></h3>
                        <p>Brief Diagnostic Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="calldata">
                        <h3><a href="javascript:void(0)" >Call Data Report</a></h3>
                        <p>Call Data Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="crisisfollowup">
                        <h3><a href="javascript:void(0)">Crisis Follow-Up Report</a></h3>
                        <p>Crisis Follow-Up Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="crisismindmtc">
                        <h3><a href="javascript:void(0)">Crisis Mind MCT Safety Plan</a></h3>
                        <p>Crisis Mind MCT Safety Plan</p>
                    </div>
                    <div class="common-mar-1" routerLink="endofshift">
                        <h3><a href="javascript:void(0)">End Of Shift Report</a></h3>
                        <p>End Of Shift Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="imindrefrral">
                        <h3><a href="javascript:void(0)"> i Mind Referral</a></h3>
                        <p>i Mind Referral</p>
                    </div>
                    <div class="common-mar-1" routerLink="phoneresponse">
                        <h3><a href="javascript:void(0)">Phone Response Report</a></h3>
                        <p>Phone Response Report</p>
                    </div>
                    <div class="common-mar-1" routerLink="mobileCrisis">
                        <h3><a href="javascript:void(0)">Mobile Crisis Assessment Form</a></h3>
                        <p>Mobile Crisis Assessment Form</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>