<div class="row">
    <div class="col-lg-12">
        <div class="client-tabs nxtTab">
            <form>
                <div class="col-lg-12 my-3">
                    <div class="save-bt rem-abs back_css">
                        <i class="fa fa-ban text-danger mx-3"></i>
                        <i class="fa fa-save text-success"></i>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 margin-inputclient d-flex">
                        <div class="col-lg-8">
                            <label class="CLIENT-LABEL">Popup Message: <br>
                            <span style="font-size: 13px;font-weight: 400;">(This is the message at top right of the screen after login)</span></label>
                        </div>
                        <div class="col-lg-4">
                            <textarea class="client-input client-input-textarea"
                            name="" id=""></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 margin-inputclient d-flex">
                        <div class="col-lg-8">
                            <label class="CLIENT-LABEL">Popup Message Frequency:</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="client-input" id="TimeAssociated">
                                <option value="">--Select Message--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>