.report-frm {
    // width: 50%;
    max-width: inherit;
    float: left;
    padding: 0 5px;
}
.btn-cls{
    margin: 28px 0 0;
    height: 30px;
    border-radius: 2px;
    background: #0070c1;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    width: 80%;
}